
@media screen and (max-width: 800px){
	.location-target{top: 5%; right: 5%;}
}

@media screen and (max-width: 700px){
	.contacts__wrap{display: block; margin-top: 1.8em;}
	.contacts__col{width: 100%; min-height: auto; margin-bottom: 1em;
		&--center{border: none;}
	}
	.del-nav__list{
		flex-direction: column;
	}
}

@media screen and (max-width: 550px){
	.location-target{padding: 10px 0; width: 230px; height: 130px;
		&__img{display: none;}
	}
	.delivery__wrap{
		padding-left: 0;
	}
	.contacts-guide{
		&__wrap{display: block;}
		&__video-title{margin-bottom: 0.8em;}
		&__video-title{font-size: 20px;}
	}
	.departments{flex-direction: column; align-items: center;}
}