.first-screen{
	padding: 0 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: -52px 0 0;
	&__title{text-align: center;
		h1, h2, h5{color: #fff;}
	}
}
.breadcrumbs{display: flex; flex-wrap: wrap; list-style-type: none; padding-left: 0;
	&__item{display: inline-block; position: relative; color: #575757; font-size: 14px; white-space: nowrap;
		&:not(:last-child){margin-right: 15px;
			&:after{content:'/'; color: #808080; font-size: 14px; position: absolute; right: -10px; top: 0;}
		}
	}
	&__link{display: block; color: #3777b3;}
	&--white{
		.breadcrumbs__link, .breadcrumbs__item{
			color: #fff;
		}
		.breadcrumbs__item:after{
			color: #fff;
		}
	}
}
.video-pop{text-align: center;
	h2{margin-top: 0.5em;}
	&__tabs{display: flex; justify-content: center; list-style-type: none; padding-left: 0;}
	&__tab{border: 1px solid #C7C7C7; color: #C7C7C7; font-size: 17px; line-height: 2.2; white-space: nowrap; padding: 0 5px; cursor: pointer; border-radius: 2px;
		&:hover, .active{border-color: #AFC9E0; color: #3777B3;}
		&.active{border-color: #AFC9E0; color: #3777B3;}
		&:not(:last-child){margin-right: 15px;}
	}
	&__video-wrap{width: 900px; height: 600px;}
}
.phone-workhours{text-align: center; margin: 2.5em 0 2.5em;
	&__phone{font-size: 32px; font-weight: bold; line-height: 1.25; margin-bottom: 0.3em;}
	&__workhours{font-size: 16px; line-height: 1.5; color: #808080;}
}
.social-links{list-style-type: none; display: flex; justify-content: center; padding-left: 0;margin: 0;
	&__item{ border-radius: 50%;
		&:not(:last-child){margin-right: 6px;}
	}
	&__link{display: block; width: 34px; height: 34px; background: url(../images/social-icons.png) no-repeat;}
	&__vk{background-position: 0px 0px;}
	&__fb{background-position: -40px 0px;}
	&__yt{background-position: -80px 0px;}
	&__inst{background-position: -120px 0px;}
}
.contacts{
	&-guide{border-bottom: 1px solid #e6e6e6; padding-bottom: 4em;
		h2{max-width:670px;}
		&__wrap{display: flex; margin: 0 -4px;}
		&__col{margin: 0 4px;}
		&__video-title{font-size: 24px; line-height: 1.33; text-align: center; margin: 0.8em 0 0;}
	}
	&-location{border-bottom: 1px solid #e6e6e6; padding-bottom: 4em;
		&__wrap{max-width: 640px;margin: 0 auto;}
		&__social{max-width: 855px; margin: 0 auto;}
	}
	&__work-time{line-height: 1.5;}
	&-departments{padding-bottom: 4em;
		h2{max-width: 800px;}
		&__wrap{max-width: 854px; margin: 0 auto;}
	}
	&-question{background: #f5f5ff; border: 1px solid #e6e6e6; padding-bottom: 3em;
		&__wrap{max-width: 700px; margin: 0 auto;}
		h5{color: #575757;}
	}
	&__title{max-width: 620px; margin: 0 auto;}
	&__wrap{display:flex; justify-content: center; margin: 4.5em 0 1.8em;}
	&__col{min-height: 80px; height: 100%; width: 288px; text-align: center; padding: 0 5px;
		&--center{border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6;}
	}
	&__col-title{font-size: 18px; font-weight: bold;margin-bottom: 0.4em}
	&__map{height: 480px;}
	&__map-wrap{position: relative;}
}
.location-target{width: 280px; height: 220px; background: #fff; position: absolute; right: 12.6%; top: 16.6%; text-align: center;
	&__img{margin-bottom: 1em;}
	&__street{margin-bottom: 0.4em;}
	&__info{margin-bottom: 1em;}
}
.departments{display: flex; justify-content: space-around; align-items: stretch; margin: 0 -5px;
	&__col{width:33.33%; text-align: center; padding: 0 5px; border-radius: 2px; overflow: hidden;
		&:hover img{transform: scale(1.2); transition: all linear .3s;}
	}
	&__item{box-shadow: inset 1px 0 0 0 #e6e6e6, inset -1px 0 0 0 #e6e6e6, inset 0 -1px 0 0 #e6e6e6; padding-bottom: 20px; height: 100%;}
	&__photo{height: 280px; position: relative; background: #000; overflow: hidden; margin-bottom: 1em; display: block;
		img{object-fit: cover; height: 100%; width: 100%; opacity: 0.75; opacity: 0.75; transition: all linear .3s;}
	}
	&__name{color: #fff; position: absolute; left: 50%; top: 50%; transform: translate3d(-50%, -50%, 0px); font-weight: 700; font-size: 24px; white-space: nowrap;}
	&__phone{margin-bottom: 0em;}
	&__email{margin-bottom: 0em; display: inline-block; margin-bottom: 1em; color: #3777B3;}
	&__text{color: #808080; font-size: 14px; padding: 0 10px;line-height: 1.43;}
}
.delivery{
	&__title{max-width: 840px;
		h1{text-align: left;
			b{display: block;}
		}
		h5{text-align: left;}
	}
	&__navigation{margin: 2em 0 0em;}
	&__decorations{border-bottom: 4px solid #51b37b;height: 86px; margin-top: 1em; background: url(../images/decorations-bg.png) center bottom no-repeat;}
	&__content{text-align: left; padding-bottom: 3em;
		h2, h4{
			text-align: left;
		}
	}
	&__wrap{padding-left: 48px; max-width: 805px; padding-top: 10px;}
	&__row{margin-bottom: 3em;}
}
.del-nav{
	&__list{list-style-type: none; display: flex; flex-wrap: wrap; padding-left: 0;}
	&__item{
		&:not(:last-child){margin-right: 35px;}
	}
	&__link{color: #3777b3; font-size: 17px; line-height: 1.41; white-space: nowrap;}
}
.full-catalogue{
	&__wrap{margin: 0 auto; max-width: 810px;
		h2{margin-top: 0.6em;}
	}
	&__subtitle{color: #575757;
		a{color: #3777b3;}
	}
}
.catalogue-search{padding: 32px 32px 15px; border-bottom: 1px solid #e6e6e6;
	&__wrap{max-width: 855px; margin: 0 auto; border: 1px solid #e6e6e6; margin-top: 2em; margin-bottom: 4.5em;}
	&__field{border-bottom: 1px solid #e6e6e6; position: relative;
		button{background-image: url(../images/search-outlines.png); width: 24px; height: 24px; border: none; padding: 0; background-color: transparent; position: absolute; left: 0; top: 8px;}
	}
	&__input{border:none; width: 100%; padding: 9px 0 7px 32px; letter-spacing: 1px; font-size: 17px; color: #c7c7c7;}
	&__bot{display: flex; justify-content: space-between; align-items: center;}
}
.alphabet{ list-style-type: none; padding-left: 0; display: flex; margin-bottom: 0.5em; flex-wrap: wrap;
	&__item{
		&:not(:last-child){margin-right: 20px;}
	}
	&__link{font-size: 16px; line-height: 1.38; color: #3777b3; text-transform: uppercase; cursor: pointer;}
}
.show-category{list-style-type: none; display: flex; flex-wrap: wrap; padding-left: 0; margin: 0;
	&__link{color: #3777b3; font-size: 16px; line-height: 1.38; white-space: nowrap;
		&.active{color: #808080; cursor: default;
			&:hover{text-decoration: none;}
		}
	}
	&__item{
		&:not(:last-child){
			margin-right: 25px;
		}
	}
}
.show-avail{
	&__label{display: flex; align-items: center; cursor: pointer;}
	&__trigger{width: 33px; height: 17px; border: solid 1px #cccccc; border-radius: 8px; margin-right: 7px; display: flex; align-items: center; padding: 0 4px;}
	&__item{display: inline-block; background: #51b37b; width: 8px; height: 8px; border-radius: 50%;}
	&__input{width: 0; height: 0; visibility: hidden; display: block; overflow: hidden; opacity: 0; margin: 0;
		&:checked ~ .show-avail__trigger{justify-content: flex-end;}
	}
	&__text{white-space: nowrap;}
}
.catalogue-full-list{ padding: 18px 31px 30px;
	&__list{
		list-style-type: none;
		padding-left: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		li{width: 232px; margin-right: 8px;}
		a{line-height: 1.5;}
	}
	&__row{display: flex;
		&:not(:last-child){
			margin-bottom: 3.4em;
		}
	}
	&__title{font-size: 40px; line-height: 1.2; margin-right: 32px;
		span{width: 32px; display: block;}
	}
}
.partners{
	&-form{max-width: 320px;
		&__input{border: none; border-bottom: 1px solid #c7c7c7; width: 100%; padding: 14px 0; margin-bottom: 0.5em;}
		&__submit{margin-top: 0.3em; box-shadow: 0 2px 13px 0 rgba(249, 183, 21, 0.41);}
	}
	&-advantages{border: 1px solid #e6e6e6; margin-top: 0.7em;}
	&-offer{ background: #f5f5f5; background: #f5f5f5; border: 1px solid #e6e6e6; border-top: 1px solid transparent; padding: 0 4% 4.5em; margin-bottom: 4.5em;
		&__wrap{max-width: 856px; margin: 0 auto;}
		h5{margin: 1em 0 1.4em;}
	}
	&__row{position: relative; display: flex;}
	&__col{ flex-basis: 50%;
		&--text{padding: 2.9% 8% 2.9% 4.1%;}
		img{object-fit: cover; width: 100%; height: 100%;}
		p{font-size: 17px; color: #575757; line-height: 1.41;}
		h3,h4,h5{text-align: left;}
		h3{margin-bottom: 0.5em;}
		h4{margin-top: 1.4em;}
		h5{margin-top: 2em;}
	}
	&__first-screen{height: 413px; background: url(../images/partners_bg.jpg) center center no-repeat;
		.first-screen__title{
			h1{margin-top: 1.1em;}
		}
	}
	&__wrap{max-width: 900px; margin: 0 auto;}
	&__contact-text{color: #000}
}
.offer-form{display: flex; justify-content: space-between; flex-wrap: wrap;
	&__input{height: 48px; background-color: #ffffff; color: #000; box-shadow: inset 0 -1px 0 0 #dcdcdc; border: none; width: 280px; margin-bottom: 16px; padding-left: 12px;}
	&__textarea{width: 100%; border: none; resize: none; min-height: 152px; box-shadow: inset 0 -1px 0 0 #dcdcdc; padding: 10px 12px 0;}
	&__submit{max-width: 213px; margin: 0 auto; display: block;}
}
.file-field{display: flex; flex-wrap: wrap; background: #fff; box-shadow: inset 0 -1px 0 0 #dcdcdc; width: 100%; padding: 17px 0 17px 17px; margin-bottom: 25px;
	&__label{position: relative;}
	&__link{padding: 0; border: none; background: transparent; color: #3777b3; cursor: pointer; padding-left: 27px; margin-right: 16px;
		&:before{content: ''; position: absolute; left: 0; top: 50%; background: url(../images/clip.png) no-repeat; width: 16px; height: 18px; transform: translateY(-50%);}
		&:hover{text-decoration: underline;}
	}
	&__input{width: 0; height: 0; visibility: hidden; display: block; overflow: hidden; opacity: 0; margin: 0;}
	&__text{font-size: 16px; color: #c7c7c7;}
}
.sales{
	&__btn{
		span{min-width: 240px;}
	}
	&-reviews{border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; padding: 4.5em 0 0;
		h2{margin-top: 0.4em;}
		h5{color: #575757;}
		&__title{max-width: 856px; margin: 0 auto 2em auto;}
		&__list{list-style-type: none; display: flex; margin: 0 -4px; padding-left: 0;
			&-item{margin: 0 4px; border: solid 1px #e6e6e6; border-radius: 2px; width: 222px; padding: 38px 0 27px; overflow: hidden; position: relative;}
		}
		&__icon{display: flex; justify-content: center; align-items: center; height: 80px; margin-bottom: 18px;}
		&__text{text-align: center; padding: 0 15px; font-size: 17px; line-height: 1.41;}
		&__shape{position: absolute; width: 56px; height: 56px; background: #51b37b; right: -28px; top: -28px; border-radius: 50%; color: #fff; font-size: 17px; font-weight: 700;
			span{position: absolute; bottom: 4px; left: 13px;}
		}
	}
	&-slider{margin-bottom: 4.5em; margin-top: 1.7em;
		&__slide{max-width: 568px; width: 100%; margin: 0 4px;
		.sales-box{margin: 0;}
		}
		&--bottom{margin-bottom: 0;
			h2{margin: 1.8em auto 0.8em; max-width: 850px;}
		}
	}
	&-box{position: relative; max-width: 568px; margin:0 4px; overflow: hidden;
		&:hover{
			img{transform: scale(1.2); transition: transform 200ms;}
		}
		&__wrap{display: flex; margin: 0 -4px 0 -4px}
		&__text{z-index: 10; position: relative; color: #fff; padding: 50px 33px 33px 33px; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; min-height: 400px;
			h2{color: #fff; text-align: left; margin: 0.2em 0 0;}
		}
		&__date{font-size: 12px; text-transform: uppercase; letter-spacing: 2px;}
		&__bg{position: absolute; top: 0; left: 0; z-index: 0; object-fit: cover; width: 100%; height: 100%;transition: transform 200ms;}

	}
	&-discount{text-align: center; border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;
		h5{color: #575757;}
		h2{margin-top: 0.7em;}
		&__inner{max-width: 819px; margin: 0 auto; padding: 4.6em 0 3.2em;}
	}
	&-club{border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;
		&__wrap{max-width: 864px; margin: 0 auto;}
		&__list{list-style-type: none; display: flex; justify-content: center; margin: 0 -4px; margin: 2em 0 1em;
			&-item{text-align: center; padding: 50px 22px 24px; border: solid 1px #e6e6e6; border-radius: 2px; width: 280px; margin: 0 4px;}
		}
		&__icon{height: 80px; margin-bottom: 6px;}
		&__text{font-size: 17px; line-height: 1.41;}
	}
	&-calculation{background: url(../images/calc-bg.jpg) no-repeat; background-size: cover ; padding: 27.5em 0 4.3em; position: relative;
		&__character{position: absolute; top: 13%; left: 25.3%; height: 306px;
			img{height: 100%;}
		}
		&__discount{color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px; font-weight: 700;}
		&__item{text-align: center; cursor: pointer; width: 148px;
			&:hover{
				.sales-calculation__value{transition: all linear .3s; border-color: #575757;}
			}
		}
		&__text-block{box-shadow: 0 2px 0 0 #e9e4cb; background: #fff; width: 308px; border-radius: 3px; padding: 25px 20px 20px; color: #000; font-size: 24px; line-height: 1.33; position: absolute; top: -5%; left: 100%; text-align: left;
			&:after{content: ''; position: absolute; bottom: -27px; left: 24px; background: url(../images/sale-item.png) no-repeat; width: 40px; height: 27px;}
		}
		&__list{list-style-type: none; display: flex; justify-content: space-between; margin: 0 0 1.3em; padding-left: 0;}
		&__img{height: 144px; display: flex; align-items: center; justify-content: center; position: relative; margin-bottom: 3px;}
		&__value{font-size: 24px; line-height: 1.6; padding: 0 7px; color: #000; border: solid 1px transparent; border-radius: 2px; display: inline-block; }
		&__remainder{font-size: 12px; font-weight: 700; line-height: 1.33; color: #808080; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
	}
	&-procurement{display: flex;
		&__img{width: 50%; flex-shrink: 0;
			img{width: 100%; height: 100%; object-fit: cover;}
		}
		&__text{width: 50%; display: flex; flex-direction: column; align-items: center; padding: 0 1em 1em;
			h2,h5{text-align: left;}
			&--top{margin-bottom: 1.5em;
				h5{margin: 1em 0 1.5em; color: #575757;}
			}
			&--bot, &--top{max-width: 500px;}
		}
	}
	&-feedback{
		&__main{margin-top: -167px; padding-bottom: 4.5em;}
		&__top{height: 532px; display: flex; justify-content: center; position: relative;}
		&__title{max-width: 800px; z-index: 10;
			h2{color: #fff; margin-top: 3.4em;}
		}
		&__colection{background: #51b37b; width: 168px; height: 168px; border-radius: 50%; position: absolute; right: 53px; top: -84px; text-align: center; padding: 25px 0 0;
			a{color: #fff; border-bottom: 1px dashed #fff;
				&:hover{border: none; text-decoration: none;}
			}
			img{display: block; margin: 0 auto; margin-bottom: 8px;}
		}
		&__info{font-size: 14px; color: #808080; text-align: center;}
		&__form-title{max-width: 600px; margin: 0 auto;
			h3{margin: 1.3em 0 0;}
			h5{margin-bottom: 0.7em;}
		}
		&__bg{position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; width: 100%; object-fit: cover;}
		&__inner{border-radius: 2px; border: solid 1px #e6e6e6; background: #fff; padding: 0 1em 1.5em; position: relative;}
		&__form{max-width: 696px; width: 100%; margin: 0px auto 17px; border-radius: 2px; background-color: #f5f5f5; border: solid 1px #e6e6e6; padding: 1em 0 0.8em;
			form{padding: 0 16px; display: flex; align-items: center; margin: 0 -4px 10px -4px;}
			.button{width: 202px; margin: 0 4px;}
		}
		&__input{background-color: #fff; width: 223px; margin: 0 4px; border: none; height: 48px; box-shadow: inset 0 -1px 0 0 #dcdcdc; padding-left: 15px;}
	}
	&__first-screen{background: url(../images/sales-bg.jpg) center center no-repeat; height: 480px;
		.first-screen__title{padding-top: 30px; max-width: 835px;}
	}
	&__btn-row{text-align: center; margin: 1.5em 0 0; padding-bottom: 4.5em;
			.button{min-width: 216px;}
		}
	&__main{color: #51b37b; font-size: 112px; font-weight: 700; line-height: 1;}
}
.promo{
	&-block{padding: 0 15px; position: relative; min-height: 516px; display: flex; justify-content: center; align-items: center;
		&__inner{max-width: 770px; position: relative; z-index: 10; text-align: center;}
		h2,h5{color: #fff;}
		h5{margin-bottom: 1.5em;}
		h2{margin-top: 0.4em;}
		&__bg{position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; object-fit: cover;}
		&--second{min-height: 564px; align-items: flex-start; padding-top: 7.5em;}
	}
	&-discount{padding: 3em 0;
		&__card{margin-right: 102px; margin-left: 144px;}
		&__text{max-width: 455px;}
		&__inner{display: flex;}
		h3{margin: 0.2em 0 0.6em;}
		h3,h6{text-align: left;}
		h6{color: #575757; margin: 0 0 1.8em;}
	}
}
.smiles{list-style-type: none; display: flex; justify-content: center; margin: 0 0 0; padding-left: 0;
	&__item{width: 40px; height: 40px;}
}
.club{
	&-offer{
		h2{margin: 1.5em 0 0;}
		h5{margin-bottom: 1.5em;}
	}
	&-faq{background: #fafaff; border-top: 1px solid #e6e6e6;
		&__inner{display: flex; justify-content: space-between; max-width: 856px; margin: 2.4em auto 0; padding-bottom: 2em; border-bottom: 1px solid #e6e6e6;}
		&__col{max-width: 369px; max-width: 376px;
			h6{text-align: left; font-size: 16px; line-height: 1.5; margin: 0 0 0.5em;}
		}
	}
	&-membership{border-top: 1px solid #e6e6e6; padding-bottom: 3.5em;
		&__price{font-size: 56px; line-height: 1;}
	}
	&-member{background: #f5f5f5; border-top: 1px solid #e6e6e6; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6;
		&__inner{display: flex; justify-content: flex-end; padding: 4.5em 3.5em 6.5em 0;}
		&__text{text-align: left; max-width: 465px;
			h3, h5{text-align: left;}
			h3{margin-bottom: 0.7em;}
		}
		&__img{position: absolute; bottom: 0; left: 75px;}
	}
	&__first-screen{
		background: url(../images/club-bg.jpg) center center no-repeat;
		height: 529px;
	}
	&-advantages{margin: 0 -4px; display: flex;
		&__left, &__right{margin: 0 4px; width: 568px; margin: 0 4px; display: flex; flex-direction: column; justify-content: space-between;}
		&__title-wrap{margin: 0 auto 2em auto; max-width: 540px;}
		&__icon{position: absolute; right: 40px; top: 40px; height: 80px; width: 80px;
			img{position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);}
		}
	}
	&__title{text-align: center; max-width: 800px;
		h1, h5{color: #fff;}
		h5{margin-bottom: 1em;}
	}
	&__item{border: 1px solid #e6e6e6; width: 100%; padding: 0.5em 9em 1em 2.4em; border-radius: 2px; position: relative;
		&--x1{flex-grow: 1;}
		&--x2{height: 448px; flex-grow: 1;}
		h3{text-align: left; margin-bottom: 0.4em;}
		&:not(:last-child){margin-bottom: 8px;}
	}
	&__conditions-link{color: #808080; font-size: 14px; border-bottom: 1px dashed #e6e6e6; display: none;
		&:hover{border: none; text-decoration: none;}
	}
	&__button{width: 100%;}
	&__for{margin: 0.5em 0 2em;}
	&__condition{ font-size: 12px; font-weight: bold; letter-spacing: 2px; text-align: center; color: #808080; text-transform: uppercase;
		&-wrap{padding-bottom: 4.5em;}
	}
	&__payment{
		&.disabled{
			.button{opacity: 0.5; pointer-events: none;}
			.club__conditions-link{display: inline-block;}
		}
	}
}
.stonebox{
	&-direction{padding-bottom: 1em;
		&__title{max-width: 770px; margin: 0 auto;}
		&__img{margin: 1.8em 0 0; text-align: center;}
	}
	&-faq{padding-bottom: 4.5em;}
	&-choice{border: 1px solid #e6e6e6; padding: 0.8em 3em 1em 3em; display: flex; border-radius: 2px;
		&:not(:last-child){margin-bottom: 1em;}
		&:last-child{border-bottom: none;}
		&__row{position: relative; padding-left: 48px; margin-bottom: 1.6em;
			p{margin: 0; font-size: 17px; line-height: 1.41;}
		}
		&__icon{width: 32px; height: 32px; display: flex; justify-content: center; align-items: center; position: absolute; left: 0; top: 0;}
		&__products{display: flex;}
		&__product{border: 1px solid #e6e6e6; width: 184px;
			&-img{height: 138px; border-bottom: 1px solid #e6e6e6;
				img{width: 100%; height: 100%; object-fit: cover;}
			}
			&-text{text-align: center; padding: 0 0;
				p{font-size: 14px; margin: 0; padding: 15px;}
			}
			&:not(:last-child){
				margin-right: 8px;
			}
		}
		&__left{max-width: 382px; padding-right: 1em;}
		&__date{color: #808088; margin-top: 1.5em;}
		h2{text-align: left; margin: 0.4em 0 0;}
		&__title{font-weight: 700; font-size: 17px; margin: 1.5em 0 0.8em;}
		&__price{
			&-title{font-size: 14px; line-height: 1.43;}
			&-list{display: flex; list-style-type: none; padding-left: 0; font-size: 24px; line-height: 1.33;  margin-left: -14px;
				&-item{padding: 7px 16px 7px;
					&:not(:last-child){margin-right: 10px;}
					&.active{background: #f9f7ec;
						.stonebox-choice__price{font-size: 32px; line-height: 1.25;}
					}
				}
			}
		}
	}
	&__surprise{text-align: center; background: #f5f5f5; border: 1px solid #e6e6e6; padding: 0 15px 4.5em; margin-bottom: 4.5em;
		h2{max-width: 650px; margin: 1.8em auto 0em;}
		h5{margin-bottom: 1.6em;}
	}
	&-sentence{
		&__title{max-width: 800px; margin: 0 auto;}
	}
	&__first-screen{height: 529px; background: url(../images/stonebox-bg.jpg) center center no-repeat;
		.first-screen__title{max-width: 535px;}
	}
}
.collection{
	&__content{
		h2{margin: 0 0 0.5em; text-align: left;}
	}
	&__first-screen{background: url(../images/collection-bg.jpg) center center no-repeat; height: 577px;
		.first-screen__title{max-width: 860px;}
	}
	&__special-offer{margin: 1em 0 0;}
	&-advantages{list-style-type: none; border: 1px solid #e6e6e6; display: flex; padding-left: 0; margin: 2em 0 1.5em;
		&__icon{width: 48px; height: 48px; position: absolute; left: 16px;
			img{position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);}
		}
		&__item{width: 33.33%; padding: 1em 0 1em 5em; position: relative;
			&:not(:last-child){border-right : 1px solid #e6e6e6;}
			p{margin-bottom: 0;}
		}
	}
}
.special-offer{background: #51b37b; text-align: center; padding: 1.7em 0em 2.5em; border-radius: 2px;
	&__title{color: #fff; margin-bottom: 1.4em;}
	&__icon{width: 80px; height: 80px; display: inline-flex; justify-content: center; align-items: center;}
}
.prod-card{
	h5{text-align: left; margin: 0 0 0.9em;}
	&__top{position: relative; height: 400px; display: flex; flex-direction: column; justify-content: center; align-items: center;
		h3, p{color: #fff; position: relative; z-index: 5; text-align: center;}
		h3{margin: 1em 0 0.2em;}
	}
	&__item{width: 25%;}
	&__list{list-style-type: none; padding-left: 0; display: flex; flex-wrap: wrap;}
	&__mid{border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; padding: 25px 0 0 30px;}
	&__title{max-width: 445px;}
	&__background{position: absolute; top: 0; left: 0; height: 100%; width: 100%; object-fit: cover;}
}





















