/* helping adds*/
.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.jfix-after:after{content: '';display: inline-block;width: 100%;height: 0;overflow: hidden;}
.vfix{height:100%;width:0px;display:inline-block;vertical-align:middle;}
.vfix-before:before{content: '';height: 100%;width: 0;display: inline-block;vertical-align: middle;}
.hidden-block{position:absolute;left:-99999em;top:-99999em;}
hr{
    font-family: 'PT Serif', serif;
}
/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%;width:100%;min-width:320px;font-family: 'PT Sans', sans-serif;color:#000;position:relative;font-size: 16px;line-height: 1.375; background-color: #fafafa;
    /* styles for wp-admin panel */
    &.customize-support{
        .wp-panel-show{top:32px;} //fixed elements (if their has top:0) must has class .wp-panel-show
    }
    /* /styles for wp-admin panel */
}
a{ text-decoration: none; color: #3777b3;
    &:hover{ text-decoration: underline;}
}
.main{max-width: 1400px; width: 100%; margin: 0 auto; background-color: #fff;box-shadow: inset 1px 0 0 0 #e6e6e6, inset -1px 0 0 0 #e6e6e6, inset 0 -1px 0 0 #e6e6e6; margin-bottom: 40px;}
img{vertical-align:bottom;border:0;max-width:100%;}
/* adapted styles for wp-admin panel */
@media screen and (max-width: 782px){
    body{
        &.customize-support{
            .wp-panel-show{top:46px;}
        }
    }
    #wpadminbar{position: fixed!important;}
}
/* /adapted styles for wp-admin panel */
/* /base styles */
/* wraps styling*/
.mbox{max-width:1175px; padding: 0 15px; width:100%;margin:0 auto;position:relative;z-index:1;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

/* /wraps styling*/


.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;}

input, textarea{
    &::-webkit-input-placeholder  { color: #808080; font-size: 16px;}
    &:-moz-placeholder            { color: #808080; font-size: 16px;}
    &::-moz-placeholder           { color: #808080; font-size: 16px;}
    &:-ms-input-placeholder       { color: #808080; font-size: 16px;}
}

/*End Layout*/

/*fonts*/
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "../font/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

 //@include font-face('emoji', 'EmojiSymbols-Regular');
/*/fonts*/
/*buttons*/
.button{border:none; background: transparent; padding: 0; margin: 0; display: inline-block; text-decoration: none; color: #3777b3; font-weight: 400;
    &:hover{ text-decoration: underline;}
    span{ min-width: 80px; height: 40px; border-radius: 2px; border:1px solid rgb(175, 201, 224); display: flex; justify-content: center; align-items: center; font-size: 17px; cursor: pointer; padding:0 15px;}
    img{ margin-right: 8px;}
    &__yellow{ color: #000000; width: 100%;
        span{ width: 100%; padding: 10px; background-color: #fcd504; border-color: #fcd504;}
    }
    &__green{ color: #fff; background-color: #51b37b;
        span{ padding: 12px;font-size: 17px; line-height: 1.41; height: 48px; text-align: left; border-color: #51b37b;}
    }
    &__white{ color: #fff; background-color: transparent;
        span{  line-height: 1.41; height: 40px; border-color: #fff;}
    }
    &--big{
        span{min-width: 159px; height: 48px;}
    }
    &--big64{
        span{  height: 64px; padding: 0 32px; font-size: 20px;}
    }
}
/*buttons*/
.pseudoH1,
h1{font-size: 56px; line-height: 1.14; margin: 0.47em auto 0.3em;}
h2{font-size: 40px; line-height: 1.2; margin: 1.65em auto 0.4em; }
h3{font-size: 32px; line-height: 1.25;}
h4{font-size: 24px; line-height: 1.33;   margin:0.75em 0 0.65em;}
h5{font-size: 20px; line-height: 1.4;   margin: 0.8em auto 0.85em; }
h6{font-size: 17px;  line-height: 1.41;}
h1,h2,h3,h4,h5,h6{ font-weight: 400; text-align: center; color: #000000;width: 100%;
    &.blue, .blue{ color: #3777b3;}
}
p{ line-height: 1.5; margin:0 0 1.5em;}
.emoji{ height: 16px; width: 16px; display: inline-block; background-position: 50%; background-size: cover;
    &--like{ background-image: url(../images/emodji_like.png);}
    &--vip{ background-image: url(../images/emodji_vip.png);}
    &--fire{ background-image: url(../images/emodji_fire.png);}
    &--rank0{ background-image: url(../images/emodji_0.png);}
    &--rank1{ background-image: url(../images/emodji_1.png);}
    &--rank2{ background-image: url(../images/emodji_2.png);}
    &--rank3{ background-image: url(../images/emodji_3.png);}
    &--rank4{ background-image: url(../images/emodji_4.png);}
}
.global-wrapper{ overflow: hidden;}