.breadcrumbs{display: flex; list-style-type: none; padding-left: 0;
	&__item{display: inline-block; position: relative; color: #575757; font-size: 14px;
		&:not(:last-child){margin-right: 15px;
			&:after{content:'/'; color: #808080; font-size: 14px; position: absolute; right: -10px; top: 0;}
		}
	}
	&__link{display: block; color: #3777b3;
		&:hover{text-decoration: none;}
	}
}
.video-pop{text-align: center;
	h2{margin-top: 0.5em;}
	&__tabs{display: flex; justify-content: center; list-style-type: none; padding-left: 0;}
	&__tab{border: 1px solid #C7C7C7; color: #C7C7C7; font-size: 17px; line-height: 2.2; white-space: nowrap; padding: 0 5px; cursor: pointer; border-radius: 2px;
		&:hover, .active{border-color: #AFC9E0; color: #3777B3;}
		&.active{border-color: #AFC9E0; color: #3777B3;}
		&:not(:last-child){margin-right: 15px;}
	}
	&__video-wrap{width: 900px; height: 600px;}
}
.phone-workhours{text-align: center; margin: 2.5em 0 2.5em;
	&__phone{font-size: 32px; font-weight: bold; line-height: 1.25; margin-bottom: 0.3em;}
	&__workhours{font-size: 16px; line-height: 1.5;}
}
.social-links{list-style-type: none; display: flex; justify-content: center; padding-left: 0;margin: 0;
	&__item{ border-radius: 50%;
		&:not(:last-child){margin-right: 6px;}
	}
	&__link{display: block; width: 34px; height: 34px; background: url(../images/social-icons.png) no-repeat;}
	&__vk{background-position: 0px 0px;}
	&__fb{background-position: -40px 0px;}
	&__yt{background-position: -80px 0px;}
	&__inst{background-position: -120px 0px;}
}
.contacts{
	&-guide{border-bottom: 1px solid #e6e6e6; padding-bottom: 4em;
		h2{max-width:670px;}
		&__wrap{display: flex; margin: 0 -4px;}
		&__col{margin: 0 4px;}
		&__video-title{font-size: 24px; line-height: 1.33; text-align: center; margin: 0.8em 0 0;}
	}
	&-location{border-bottom: 1px solid #e6e6e6; padding-bottom: 4em;
		&__wrap{max-width: 640px;margin: 0 auto;}
		&__social{max-width: 855px; margin: 0 auto;}
	}
	&__work-time{line-height: 1.5;}
	&-departments{padding-bottom: 4em;
		h2{max-width: 800px;}
		&__wrap{max-width: 854px; margin: 0 auto;}
	}
	&-question{background: #f5f5ff; border: 1px solid #e6e6e6; padding-bottom: 3em;
		&__wrap{max-width: 700px; margin: 0 auto;}
	}
	&__title{max-width: 620px; margin: 0 auto;}
	&__wrap{display:flex; justify-content: center; margin: 4.5em 0 1.8em;}
	&__col{min-height: 80px; height: 100%; width: 288px; text-align: center; padding: 0 5px;
		&--center{border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6;}
	}
	&__col-title{font-size: 18px; font-weight: bold;margin-bottom: 0.4em}
	&__map{height: 480px;}
	&__map-wrap{position: relative;}
}
.location-target{width: 280px; height: 220px; background: #fff; position: absolute; right: 175px; top: 80px; text-align: center;
	&__img{margin-bottom: 1em;}
	&__street{margin-bottom: 0.4em;}
	&__info{margin-bottom: 1em;}
}
.departments{display: flex; justify-content: space-around;
	&__col{text-align: center; width: 278px; box-shadow: inset 1px 0 0 0 #e6e6e6, inset -1px 0 0 0 #e6e6e6, inset 0 -1px 0 0 #e6e6e6; padding-bottom: 20px; border-radius: 2px; overflow: hidden;
		&:hover img{transform: scale(1.2); transition: all linear .3s;}
	}
	&__photo{height: 280px; position: relative; background: #000; overflow: hidden; margin-bottom: 1em; display: block;
		img{object-fit: cover; height: 100%; width: 100%; opacity: 0.75; opacity: 0.75; transition: all linear .3s;}
	}
	&__name{color: #fff; position: absolute; left: 50%; top: 50%; transform: translate3d(-50%, -50%, 0px); font-weight: 700; font-size: 24px; white-space: nowrap;}
	&__phone{margin-bottom: 0em;}
	&__email{margin-bottom: 0em; display: inline-block; margin-bottom: 1em; color: #3777B3;}
	&__text{color: #808080; font-size: 14px; padding: 0 10px;line-height: 1.43;}
}
.delivery{
	&__title{max-width: 840px;
		h1{text-align: left;
			b{display: block;}
		}
		h5{text-align: left;}
	}
	&__navigation{margin: 2em 0 0em;}
	&__decorations{border-bottom: 4px solid #51b37b;height: 86px; margin-top: 1em; background: url(../images/decorations-bg.png) center bottom no-repeat;}
	&__content{text-align: left; padding-bottom: 3em;
		h2, h4{
			text-align: left;
		}
	}
	&__wrap{padding-left: 48px; max-width: 805px; padding-top: 10px;}
	&__row{margin-bottom: 3em;}
}

.del-nav{
	&__list{list-style-type: none; display: flex; padding-left: 0;}
	&__item{
		&:not(:last-child){margin-right: 35px;}
	}
	&__link{color: #3777b3; font-size: 17px; line-height: 1.41;}
}
