.dropdowned{ position: absolute; top:calc(100% + 14px); left: 50%; transform:translateX(-50%); display: none;
  &:before{ content: ''; width: 11px; height: 11px; background-color: #fff; box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3); position: absolute; left: 50%; transform:translateX(-50%) rotate(45deg); top: -6px; z-index: 10;}
  &__wrap{ background-color: #fff; border-radius: 2px; box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3); z-index: 20; position: relative; padding: 10px;
    &:before{ content: ''; width: 11px; height: 11px; background-color: #fff;  position: absolute; left: 50%; transform:translateX(-50%) rotate(45deg); top: -6px; z-index: 30;}
  }
  p{ text-align: center; font-size: 17px;line-height: 1.41;color: #000000; margin: 0;}

}
.hc-dropdown{
  &__wrap{ min-width: 216px;  min-height: 120px;
    a{ margin-top: 8px;}
  }
}
.cat-dropdown{ top: 100%; width:calc(100vw - 20px); background: transparent;
  &:before{ display: none;}
  &__wrap{max-width: 1400px; width: 100%; border:1px solid #e6e6e6; margin: 0 auto;
    &:before{ display: none;}
  }
}
.lc-dropdown{
  &__wrap{ min-width: 208px; padding: 0;}
  &__pin{height: 16px; display: inline-block; position: absolute; border-radius: 7px;   font-size: 12px; font-weight: bold; line-height: 1; color: #808080; top: 12px; right: 16px; padding:2px 4px; background-color: #e6e6e6;}
  ul{ list-style-type: none; padding: 0; margin: 0; color: #3777b3; line-height: 1.5; font-size: 16px;}
  li{     padding: 9px 16px 6px; border-bottom: 1px solid #E6E6E6; position: relative;
    &.title{height: 24px; width: 100%; background-color: #f8f8f8;  border-bottom:none;font-size: 10px; font-weight: bold; line-height: 24px; letter-spacing: 2.2px;  text-align: left; color: #808080; text-transform: uppercase; padding: 0 16px;}
  }
  a{color: #3777b3;}
  p{     margin: 2px 0 4px; font-size: 12px; line-height: 1.17; text-align: left; color: #808080;}
}
.mobile-lc{ padding-top: 35px;
  ul{ padding: 0 16px;}
  &__top{ display: flex; justify-content: flex-start; align-items: center;}
}
.mobile-mc{ padding-top: 35px;
  ul{ padding: 0 16px;}
}
.mobile-sc{padding: 0 15px 51px;
 &__content{ padding-top: 48px;}
 &__input{ position: relative; display: flex; width: 100%; justify-content: space-between;border-radius: 2px; background-color: #ffffff;  border: solid 1px #e6e6e6; height: 40px;
  input{border:none; background: transparent;  line-height: 1.5;  text-align: left; color: #000000; padding-left: 8px; width: calc(100% - 70px); }
 }
 &__del { width: 24px; height: 24px; cursor: pointer; position: absolute; top: 7px; right: 42px;
   span { width: 20px; background-color: #979797; height: 2px; display: block; transform: rotate(45deg); position: absolute; top: 50%; left: 0;
     &:nth-child(2) { transform: rotate(-45deg); }
   }
 }
 &__search{ padding: 8px; cursor: pointer; border:none; background: #fff;}
  &__result{ padding-top: 24px;
    li{ padding: 8px 8px; border-top:1px solid #E6E6E6;
      &:last-child{border-bottom:1px solid #E6E6E6;}
      &.mobile-sc__result--title{font-size: 12px; font-weight: bold;  line-height: 1.33; letter-spacing: 2.2px;  text-align: left; text-transform: uppercase; color: #808080; padding-left: 0; border-top: none; margin-top: 17px;}
      &.mobile-sc__result--show-all{ border-bottom:none; padding-left: 0;
        a{line-height: 1.5;  text-align: left;  color: #3777b3;}
      }
      &.mobile-sc__result--hidden{ display: none;}

    }
    ul{ margin: 0; padding: 0; list-style-type: none; width: 100%;}
    a{line-height: 1.5;  text-align: left;  color: #808080;}
  }
}