<div class="bigsoc">
    <a href="#" target="_blank" class="bigsoc__item bigsoc__mes">
        <span class="bigsoc__img"><img src="images/icon-messenger.svg" alt=""></span>
        <span class="bigsoc__txt">Messenger</span>
    </a>
    <a href="#" target="_blank" class="bigsoc__item bigsoc__vk">
        <span class="bigsoc__img"><img src="images/icon-vk.svg" alt=""></span>
        <span class="bigsoc__txt">ВКонтакте</span>
    </a>
    <a href="#" target="_blank" class="bigsoc__item bigsoc__tel">
        <span class="bigsoc__img"><img src="images/icon-telegram.svg" alt=""></span>
        <span class="bigsoc__txt">Telegram</span>
    </a>
    <a href="#" target="_blank" class="bigsoc__item bigsoc__what">
        <span class="bigsoc__img"><img src="images/icon-whatsapp.svg" alt=""></span>
        <span class="bigsoc__txt">WhatsApp</span>
    </a>
</div>