<div class="dopmenu">
    <div class="dopmenu__row">
        <ul class="dopmenu__top">
            <li><a href="#">О компании</a></li>
            <li><a href="#"><img src="images/delivery.png" alt="">Доставка и оплата</a></li>
            <li><a href="#">Обмен и возврат</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Оптовикам</a></li>
            <li><a href="#">Партнерам</a></li>
            <li><a href="#"><img src="images/phone.png" alt="">Контакты</a></li>
        </ul>
    </div>
    <div class="dopmenu__row">
        <ul class="dopmenu__bot">
            <li><a href="#">Скидки и акции 🔥</a></li>
            <li><a href="#">Stone Box</a></li>
            <li><a href="#">Клуб</a></li>
            <li><a href="#">Наша коллекция</a></li>
            <li><a href="#">Блог</a></li>
            <li><a href="#">Мероприятия</a></li>
            <li><a href="#">Месторождения</a></li>
        </ul>
    </div>
</div>