<div class="dopmenu">
    <div class="dopmenu__row">
        <ul class="dopmenu__top">
            <li><a href="#">О компании</a></li>
            <li>
                <a href="#">
                    <i class="icon">
                        <svg class="icon-car">
                          <use xlink:href="#delivery"></use>
                        </svg>
                    </i>
                    Доставка и оплата
                </a>
            </li>
            <li><a href="#">Обмен и возврат</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Оптовикам</a></li>
            <li><a href="#">Партнерам</a></li>
            <li><a href="#">
                <i class="icon">
                    <svg class="icon-phone">
                      <use xlink:href="#phone"></use>
                    </svg>
                </i>
                Контакты
                </a>
            </li>
        </ul>
    </div>
    <div class="dopmenu__row">
        <ul class="dopmenu__bot">
            <li><a href="#" class="link-orange">Скидки и акции <span class="emoji emoji--fire"></span></a></li>
            <li><a href="#">
                <i class="icon">
                    <svg class="icon-car">
                        <use xlink:href="#delivery"></use>
                    </svg>
                </i>
                Stone Box</a>
            </li>
            <li><a href="#">Клуб</a></li>
            <li><a href="#">Наша коллекция</a></li>
            <li><a href="#">Блог</a></li>
            <li><a href="#">
                <i class="icon">
                    <svg class="icon-phone">
                        <use xlink:href="#phone"></use>
                    </svg>
                </i>
                Мероприятия
                </a>
            </li>
            <li><a href="#">Месторождения</a></li>
        </ul>
    </div>
</div>