<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="mbox">
        <div class="footer__wrap">
            <div class="footer__top">
                <div class="footer__soc-big">
                    <div class="footer__quest">
                        <p>Задавайте свои вопросы прямо сейчас</p>
                    </div>
                    <div class="footer__soc">
                        <div class="bigsoc">
                            <a href="#" target="_blank" class="bigsoc__item">
                                <span class="bigsoc__img"><img src="images/iMessenger.png" alt=""></span>
                                <span class="bigsoc__txt">Messenger</span>
                            </a>
                            <a href="#" target="_blank" class="bigsoc__item">
                                <span class="bigsoc__img"><img src="images/ivk.png" alt=""></span>
                                <span class="bigsoc__txt">ВКонтакте</span>
                            </a>
                            <a href="#" target="_blank" class="bigsoc__item">
                                <span class="bigsoc__img"><img src="images/itelegram.png" alt=""></span>
                                <span class="bigsoc__txt">Telegram</span>
                            </a>
                            <a href="#" target="_blank" class="bigsoc__item">
                                <span class="bigsoc__img"><img src="images/iWhatsApp.png" alt=""></span>
                                <span class="bigsoc__txt">WhatsApp</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer__list">
                    <div class="footer__col">
                        <ul>
                            <li><a href="#">По камням и минералам</a></li>
                            <li><a href="#">Новые поступления</a></li>
                            <li><a href="#" style="font-weight: bold; color: #51b37b;">Лучшие предложения <span class="emoji">👍</span></a></li>
                            <li><a href="#">Коллекционные минералы</a></li>
                            <li><a href="#">Украшения</a></li>
                            <li><a href="#">Изделия и сувениры</a></li>
                            <li><a href="#">Коллекции камней</a></li>
                            <li><a href="#">Нефритовые яйца</a></li>
                            <li><a href="#">Метеориты</a></li>
                            <li><a href="#">Окаменелости</a></li>
                            <li><a href="#">Инструменты</a></li>
                            <li><a href="#">Книги о камнях</a></li>
                            <li><a href="#" style="font-weight: bold; color: #dba00f;">VIP <span class="emoji">👑</span></a></li>
                            <li><a href="#">Архив проданных товаров</a></li>
                        </ul>
                    </div>
                    <div class="footer__col">
                        <ul>
                            <li><a href="#">Галтовка и галька</a></li>
                            <li><a href="#">Полировки (камни и срезы)</a></li>
                            <li><a href="#">Кабошоны и огранка</a></li>
                            <li><a href="#">Кристаллы</a></li>
                            <li><a href="#">Друзы</a></li>
                        </ul>
                    </div>
                    <div class="footer__col">
                        <ul>
                            <li><a href="#">По знаку зодиака</a></li>
                            <li><a href="#">В подарок</a></li>
                            <li><a href="#">Для интерьера</a></li>
                            <li><a href="#">Для детей</a></li>
                            <li><a href="#">Для рукоделия</a></li>
                            <li><a href="#">Для литотерапии</a></li>
                            <li><a href="#">Для фен-шуй</a></li>
                            <li><a href="#">Для денег и бизнеса</a></li>
                            <li><a href="#">Для любви и семьи</a></li>
                            <li><a href="#">Для здоровья</a></li>
                            <li><a href="#">Для учебы</a></li>
                            <li><a href="#">Для путешествий</a></li>
                        </ul>
                    </div>
                    <div class="footer__col footer__col--gray">
                        <ul>
                            <li><a href="#" style="color: #ff5d00; font-weight: bold;" >Скидки и акции <span class="emoji">🔥</span></a></li>
                            <li><a href="#">StoneBox</a></li>
                            <li><a href="#">Клуб</a></li>
                            <li><a href="#">Наша коллекция</a></li>
                            <li><a href="#">Блог</a></li>
                            <li><a href="#">Мероприятия</a></li>
                            <li><a href="#">Месторождения</a></li>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Доставка и оплата</a></li>
                            <li><a href="#">Обмен и возврат</a></li>
                            <li><a href="#">Отзывы</a></li>
                            <li><a href="#">Оптовикам</a></li>
                            <li><a href="#">Партнерам</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="footer__col footer__col--last">
                        <a href="tel:8 (800) 775-45-19" class="footer__tel">8 (800) 775-45-19</a>
                        <p>Бесплатно по России</p>
                        <p>с 10 до 21 по будням</p>
                        <p>с 11 до 19 в выходные</p>
                        <p><a href="mailto:info@kamnevedy.ru" class="footer__tel">info@kamnevedy.ru</a></p>
                        <ul class="social-links footer__social-links">
                            <li class="social-links__item">
                                <a href="#" class="social-links__link social-links__vk"></a>
                            </li>
                            <li class="social-links__item">
                                <a href="#" class="social-links__link social-links__fb"></a>
                            </li>
                            <li class="social-links__item">
                                <a href="#" class="social-links__link social-links__yt"></a>
                            </li>
                            <li class="social-links__item">
                                <a href="#" class="social-links__link social-links__inst"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__bot">
                <div class="footer__about">
                    <p>Камневеды — магазин, специализирующийся на продаже исключительно натуральных камней и изделий из них. Главная задача сотрудников магазина камней Камневеды — тщательно проверять весь товар на натуральность, исключить попадание в магазин подделок и имитаций, а также предоставить покупателям полную и достоверную информацию  о приобретаемом товаре. Все камни и изделия из камня в нашем магазине проверены профильными специалистами — геологами и геммологами.</p>
                    <br>
                    <p><a href="#">Показать полностью</a></p>
                </div>

            </div>

        </div>
    </div>
    <div class="footer__copyright">
        <div class="mbox">
            <div class="footer__copyright-wrap">
                <div class="footer__year">
                    <p>© 2011-2017</p>
                    <p>Камневеды — крупнейший магазин натуральных камней</p>
                    <p><a href="#">Политика конфиденциальности</a></p>
                </div>
                <div class="footer__pay">
                    <p>Принимаем к оплате</p>
                    <div class="payment">
                        <a href="#"><img src="images/visa.png" alt=""></a>
                        <a href="#"><img src="images/mc.png" alt=""></a>
                        <a href="#"><img src="images/wm.png" alt=""></a>
                    </div>
                </div>
                <div class="footer__design">
                    <p>Разработка сайта — <a href="#">ConversionArt</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->

<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/tovar.css">
<link rel="stylesheet" href="css/dropdown.css">
<link rel="stylesheet" href="css/pages-skelet.css">
<link rel="stylesheet" href="css/footer.css">
<link rel="stylesheet" href="css/develop.css">
<link rel="stylesheet" href="css/develop2.css">

<link rel="stylesheet" href="css/adaptation.css">
<link rel="stylesheet" href="css/adaptation2.css">


<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i&amp;subset=cyrillic" rel="stylesheet">
<!-- SCRIPTS -->
<script        src="https://code.jquery.com/jquery-3.1.1.min.js"        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/object-fit-cover.js" ></script>
<script type="text/javascript" src="js/plagins/awesomplete.min.js" ></script>
<script type="text/javascript" src="js/plagins/object-fit-cover.js" ></script>
<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop.js" ></script>
<script type="text/javascript" src="js/develop2.js" ></script>

<!-- endbuild -->

<!-- /SCRIPTS -->
