<!-- HEADER -->
<header>
    <div class="header-mobile__wrap">
        //= mob-menu.html
    </div>
    <div class="header-top header-top--mini" data-price-in-basket="2000">
        <div class="mbox">
            <div class="header-top__wrap">
                <div class="header-top__left">
                    <div class="header-top__logo">
                        <a href="#"><img src="images/logo.svg" alt=""></a>
                    </div>
                    <div class="header-top__city dropdown-container">
                        <div class="header-top__city-wrap">
                            <a href="#" class="dropdown-btn">Санкт-Петербург</a>
                            <p>Доставим <span>3 марта</span></p>
                        </div>
                        <div class="dropdown  dropdowned hc-dropdown">
                            <div class="dropdowned__wrap hc-dropdown__wrap">
                                <p>Ваш город</p>
                                <p> Санкт-Петербург?</p>
                                <p>
                                    <a href="#" class="button dropdown-close"><span>Да</span></a>
                                    <a data-fancybox data-src="#choose-city" href="javascript:;" class="button"><span>Нет</span></a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="header-top__right">
                    //= header-social.html
                    <div class="header-top__contact">
                        <p><a href="mailto:info@kamnevedy.ru">info@kamnevedy.ru </a><b><a href="#">8 (800) 775-45-19</a></b></p>
                        <p>Москва, ул. 2-ая Машиностроения, д. 17, корп. 1, метро Дубровка </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<!-- /HEADER -->

