<!-- HEADER -->
<header>

    <div class="header-mobile__wrap">
        <div class="header-mobile">
            <div class="header-mobile__item mobile-butter caller-mob-menu" data-relative="menu"><img src="images/buter-m.png" alt=""></div>
            <a href="#" class="header-mobile__item mobile-logo"><img src="images/logo-m.svg" alt=""></a>
            <div class="header-mobile__item mobile-search caller-mob-menu"  data-relative="search"><img src="images/search-m.svg" alt=""></div>
            <div class="header-mobile__item mobile-user caller-mob-menu" data-relative="user"><img src="images/user-m.svg" alt=""></div>
            <a href="#" class="header-mobile__item mobile-cart">
                <div class="header-bot__img header-bot__img--mobile">
                    <img src="images/cart.svg" alt="">
                    <div class="header-bot__pin header-bot__pin--mobile" style="background-color: #ff5d00;">5</div>
                </div>
            </a>
        </div>
        <div class="mobile-menus">
            <div class="lc-dropdown mobile-lc mobile-menus__item" data-relative="user">
                <div class="mobile-menus__close"><span></span><span></span></div>
                <div class="lc-dropdown__wrap">
                    <ul>
                        <li class="mobile-lc__top">
                            <div class="header-bot__img">
                                <img src="images/66.png" alt="">
                                <div class="header-bot__pin" style="background-color: #85a943;">6%</div>
                            </div>
                            <div class="header-bot__text">
                                <p><b>Здравствуйте, Константин</b></p>
                                <p>Ваша скидка 6%</p>
                            </div>
                        </li>
                        <li><a href="#">Мои заказы</a><span class="lc-dropdown__pin">3</span></li>
                        <li><a href="#">Мои отзывы</a></li>
                        <li><a href="#">Сообщения</a><span class="lc-dropdown__pin">25</span></li>
                        <li><a href="#">Баланс</a><span class="lc-dropdown__pin">28 900 ₽</span></li>
                        <li><a href="#">Платежная информация</a></li>
                        <li><a href="#">Адрес доставки</a></li>
                        <li><a href="#">Профиль</a></li>
                        <li class="title">подписки</li>
                        <li><a href="#">StoneBox</a></li>
                        <li><a href="#">Клуб Камневедов </a></li>
                        <li><a href="#">Выйти</a></li>
                        <li>
                            <a href="#">Войти</a>
                            <p>По персональному промокоду</p>
                        </li>
                        <li>
                            <a data-fancybox data-src="#registration" href="javascript:;">Зарегистрироваться</a>
                            <p>Получите скидку 3%</p>
                        </li>

                    </ul>
                </div>
            </div>
            <div class=" mobile-menus__item mobile-sc" data-relative="search">
                <div class="mobile-menus__close"><span></span><span></span></div>
                <div class="mobile-sc__content">
                    <form class="mobile-sc__input">
                        <input type="text" placeholder="Search">
                        <div class="mobile-sc__del"><span></span><span></span></div>
                        <button class="mobile-sc__search"><img src="images/search-outlines.png" alt=""></button>
                    </form>
                    <div class="mobile-sc__result">
                        <ul>
                            <li><a href="#">Аметист</a></li>
                        </ul>
                        <ul>
                            <li class="mobile-sc__result--title">Акции</li>
                            <li>Скидка 10% на все украшения  с аметистом</li>
                        </ul>
                        <ul>
                            <li class="mobile-sc__result--title">Товары</li>
                            <li><a href="#">Аметист, кристалл двухголовик  2-2,5 см</a></li>
                            <li><a href="#">Аметист, кристалл 3,5-5 см</a></li>
                            <li><a href="#">Аметист, кристалл 1,5х1 см</a></li>
                            <li><a href="#">Аметист, сросток кристаллов 9х5,8х4,8 см</a></li>
                            <li><a href="#">Аметист, кристалл 3,5х3,5х2,7 см</a></li>
                            <li class="mobile-sc__result--hidden"><a href="#">Аметист, кристалл двухголовик  2-2,5 см</a></li>
                            <li class="mobile-sc__result--hidden"><a href="#">Аметист, кристалл 3,5-5 см</a></li>
                            <li class="mobile-sc__result--hidden"><a href="#">Аметист, кристалл 1,5х1 см</a></li>
                            <li class="mobile-sc__result--hidden"><a href="#">Аметист, сросток кристаллов 9х5,8х4,8 см</a></li>
                            <li class="mobile-sc__result--hidden"><a href="#">Аметист, кристалл 3,5х3,5х2,7 см</a></li>
                            <li class="mobile-sc__result--show-all"><a href="#">Показать все</a></li>
                        </ul>
                        <ul>
                            <li class="mobile-sc__result--title">Образцы из коллекций</li>
                            <li>Аметист, друза 25 см</li>
                        </ul>
                        <ul>
                            <li class="mobile-sc__result--title">Статьи</li>
                            <li>Полезные свойства аметиста</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="lc-dropdown mobile-menus__item mobile-mc" data-relative="menu">
                <div class="mobile-menus__close"><span></span><span></span></div>
                <div class="lc-dropdown__wrap">
                    <ul>
                        <li class="mobile-mc__pin">
                            <img src="images/location.png" alt="">
                            <a href="#" class="caller-mob-menu" data-relative="city">Санкт-Петербург<p>Доставим 3 марта</p></a>

                        </li>
                        <li class="mobile-mc__butter">
                            <img src="images/buter-m.png" alt="">
                            <a href="#" class="caller-mob-menu" data-relative="catalog">Каталог товаров</a>
                        </li>
                        <li><a href="#" style="color: #ff5d00;">Скидки и акции <span class="emoji emoji--fire"></span></a></li>
                        <li><a href="#">Stone Box</a></li>
                        <li><a href="#">Клуб</a></li>
                        <li><a href="#">Наша коллекция</a></li>
                        <li><a href="#">Блог</a></li>
                        <li><a href="#">Мероприятия</a></li>
                        <li><a href="#">Месторождения</a></li>
                    </ul>
                    <ul class="mobile-mc__blacklist">
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Доставка и оплаты</a></li>
                        <li><a href="#">Обмен и возврат</a></li>
                        <li><a href="#">Отзывы</a></li>
                        <li><a href="#">Оптовикам</a></li>
                        <li><a href="#">Партнерам</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                    <div class="mobile-mc__contacts">
                        <div class="header-top__social">
                            <a href="#" class="social social--tg"></a>
                            <a href="#" class="social social--vk"></a>
                            <a href="#" class="social social--ms"></a>
                            <a href="#" class="social social--wa"></a>
                        </div>
                        <div class="header-top__contact">
                            <p><b><a href="#">8 (800) 775-45-19</a></b><a href="mailto:info@kamnevedy.ru">info@kamnevedy.ru </a></p>
                            <p>Москва, ул. 2-ая Машиностроения, д. 17, корп. 1, метро Дубровка </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="lc-dropdown mobile-menus__item mobile-city" data-relative="city">
                <div class="mobile-menus__close"><span></span><span></span></div>
                <div class="mobile-menus__title">Выбор города</div>
                <div class="mobile-menus__back caller-mob-menu" data-relative="menu"></div>
                <form class="mobile-sc__input">
                    <input type="text" placeholder="Search">
                    <div class="mobile-sc__del"><span></span><span></span></div>
                    <button class="mobile-sc__search"><img src="images/search-outlines.png" alt=""></button>
                </form>
                <div class="lc-dropdown__wrap mobile-city__result">
                    <ul>
                        <li><a href="#">Саранск</a></li>
                        <li><a href="#">Саратов</a></li>
                    </ul>
                </div>
            </div>
            <div class="lc-dropdown mobile-menus__item" data-relative="catalog">
                <div class="mobile-menus__close"><span></span><span></span></div>
                <div class="mobile-menus__title">Каталог товаров</div>
                <div class="mobile-menus__back caller-mob-menu" data-relative="menu"></div>
                <div class="lc-dropdown__wrap mobile-city__result">
                    <ul>
                        <li class="mobile-mc__butter">
                            <a href="#" class="caller-mob-menu" data-relative="inner">Все камни и минералы</a>
                        </li>
                        <li class="mobile-mc__butter">
                            <a href="#" class="caller-mob-menu" data-relative="inner2">Украшения</a>
                        </li>
                    </ul>
                    <ul class="mobile-mc__blacklist">
                        <li><a href="#">Новые поступления</a></li>
                        <li><a href="#" style="color: #51b37b;">Лучшие предложения <span class="emoji emoji--like"></span></a></li>
                        <li><a href="#" style="color: #dba00f;">VIP<span class="emoji emoji--vip"></span></a></li>
                        <li><a href="#">По гороскопу</a></li>
                        <li><a href="#">Для интерьера</a></li>
                        <li><a href="#">Для детей</a></li>
                        <li><a href="#">Для мужчин</a></li>
                        <li><a href="#">Для рукоделия</a></li>
                        <li><a href="#">Для коллекционеров</a></li>
                    </ul>
                </div>
            </div>
            <div class="lc-dropdown mobile-menus__item" data-relative="inner">
                <div class="mobile-menus__close"><span></span><span></span></div>
                <div class="mobile-menus__title">Все камни и минералы</div>
                <div class="mobile-menus__back caller-mob-menu" data-relative="catalog"></div>
                <div class="lc-dropdown__wrap mobile-city__result">
                    <ul class="mobile-mc__blacklist">
                        <li><a href="#">Новые поступления</a></li>
                        <li><a href="#" style="color: #51b37b;">Лучшие предложения <span class="emoji emoji--like"></span></a></li>
                        <li><a href="#" style="color: #dba00f;">VIP<span class="emoji emoji--vip"></span></a></li>
                        <li><a href="#">По гороскопу</a></li>
                        <li><a href="#">Для интерьера</a></li>
                        <li><a href="#">Для детей</a></li>
                        <li><a href="#">Для мужчин</a></li>
                        <li><a href="#">Для рукоделия</a></li>
                        <li><a href="#">Для коллекционеров</a></li>
                    </ul>
                </div>
            </div>
            <div class="lc-dropdown mobile-menus__item" data-relative="inner2">
                <div class="mobile-menus__close"><span></span><span></span></div>
                <div class="mobile-menus__title">Украшения</div>
                <div class="mobile-menus__back caller-mob-menu" data-relative="catalog"></div>
                <div class="lc-dropdown__wrap mobile-city__result">
                    <ul class="mobile-mc__blacklist">
                        <li><a href="#">Новые поступления</a></li>
                        <li><a href="#" style="color: #51b37b;">Лучшие предложения <span class="emoji emoji--like"></span></a></li>
                        <li><a href="#" style="color: #dba00f;">VIP<span class="emoji emoji--vip"></span></a></li>
                        <li><a href="#">По гороскопу</a></li>
                        <li><a href="#">Для интерьера</a></li>
                        <li><a href="#">Для детей</a></li>
                        <li><a href="#">Для мужчин</a></li>
                        <li><a href="#">Для рукоделия</a></li>
                        <li><a href="#">Для коллекционеров</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-top" data-price-in-basket="2000" >
        <div class="mbox">
            <div class="header-top__wrap">
                <div class="header-top__left">
                    <div class="header-top__logo">
                        <a href="#"><img src="images/logo.svg" alt=""></a>
                    </div>
                    <div class="header-top__city dropdown-container">
                        <div class="header-top__city-wrap">
                            <a href="#" class="dropdown-btn">Санкт-Петербург</a>
                            <p>Доставим <span>3 марта</span></p>
                        </div>
                        <div class="dropdown  dropdowned hc-dropdown">
                            <div class="dropdowned__wrap hc-dropdown__wrap">
                                <p>Ваш город</p>
                                <p> Санкт-Петербург?</p>
                                <p>
                                    <a href="#" class="button dropdown-close"><span>Да</span></a>
                                    <a data-fancybox data-src="#choose-city" href="javascript:;" class="button"><span>Нет</span></a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="header-top__right">
                    <div class="header-top__social">
                        <a href="#" class="social social--tg"></a>
                        <a href="#" class="social social--vk"></a>
                        <a href="#" class="social social--ms"></a>
                        <a href="#" class="social social--wa"></a>
                    </div>
                    <div class="header-top__contact">
                        <p><a href="mailto:info@kamnevedy.ru">info@kamnevedy.ru </a><b><a href="#">8 (800) 775-45-19</a></b></p>
                        <p>Москва, ул. 2-ая Машиностроения, д. 17, корп. 1, метро Дубровка </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bot">
        <div class="mbox">
            <div class="header-bot__wrap">
                <div class="header-bot__catalog dropdown-container">
                    <div class="dropdown-btn header-bot__catalog-butt">
                        <span>Весь каталог</span>
                        <div class="header-bot__catalog-icon"><span></span><span></span><span></span></div>
                    </div>
                    <div class="dropdown dropdowned cat-dropdown">
                        <div class="dropdowned__wrap cat-dropdown__wrap">
                            <div class="mbox">
                                <div class="catalog">
                                    <div class="catalog__buttons">
                                        <div class="button catalog-show-all ignore-miss-click"><span>Развернуть все</span></div>
                                        <div class="catalog__close dropdown-close"><span></span><span></span></div>
                                    </div>
                                    <div class="catalog__content">
                                        <div class="catalog__col">
                                            <div class="catalog__block">
                                                <h4><a href="#">Все камни и минералы</a></h4>
                                                <ul>
                                                    <li><a href="#">Популярные</a></li>
                                                    <li><a href="#">Коллекционные минералы</a></li>
                                                    <li><a href="#">Редкие камни</a></li>
                                                    <li><a href="#">Псевдоморфозы</a></li>
                                                    <li><a href="#">Горные породы</a></li>
                                                    <li class="dropdown-container">
                                                        <a href="#">Кристаллы</a> <span class="arrow-circle dropdown-btn ignore-miss-click"></span>
                                                        <ul class="dropdown">
                                                            <li><a href="#">Одиночные</a></li>
                                                            <li><a href="#">Сростки</a></li>
                                                            <li><a href="#">Друзы</a></li>
                                                            <li><a href="#">В породе</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="catalog__block">
                                                <h4><a href="#">Украшения</a></h4>
                                                <ul>
                                                    <li><a href="#">Браслеты</a></li>
                                                    <li><a href="#">Броши</a></li>
                                                    <li><a href="#">Бусы</a></li>
                                                    <li><a href="#">Ожерелья, колье</a></li>
                                                    <li><a href="#">Кольца</a></li>
                                                    <li><a href="#">Комплекты</a></li>
                                                    <li><a href="#">Кулоны и подвески</a></li>
                                                    <li><a href="#">Серьги</a></li>
                                                    <li><a href="#">Четки</a></li>
                                                    <li><a href="#">Тросики и шнурки</a></li>
                                                </ul>
                                                <b>
                                                    <p><a href="#">Авторские украшения от «Камневедов»</a></p>
                                                    <p><a href="#">Ювелирные украшения</a></p>
                                                </b>
                                            </div>
                                            <div class="catalog__block">
                                                <h4><a href="#">Обработанные камни</a></h4>
                                                <ul>
                                                    <li><a href="#">Галтовка и галька</a></li>
                                                    <li><a href="#">Кабошоны</a></li>
                                                    <li><a href="#">Огранка</a></li>
                                                    <li><a href="#">Полированные срезы</a></li>
                                                    <li><a href="#">Бусины</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="catalog__col">
                                            <div class="catalog__block">
                                                <h4><a href="#">Изделия и сувениры</a></h4>
                                                <ul>
                                                    <li><a href="#">Брелоки</a></li>
                                                    <li><a href="#">Вазы</a></li>
                                                    <li><a href="#">Дерево счастья</a></li>
                                                    <li><a href="#">Камея</a></li>
                                                    <li><a href="#">Картины</a></li>
                                                    <li><a href="#">Пирамиды</a></li>
                                                    <li><a href="#">Посуда</a></li>
                                                    <li><a href="#">Предметы интерьера</a></li>
                                                    <li><a href="#">Статуэтки и фигурки</a></li>
                                                    <li><a href="#">Часы</a></li>
                                                    <li><a href="#">Шары</a></li>
                                                    <li><a href="#">Шкатулки</a></li>
                                                    <li><a href="#">Яйца</a></li>
                                                </ul>
                                                <b>
                                                    <p><a href="#">Подставки под сувениры</a></p>
                                                </b>
                                            </div>
                                            <div class="catalog__block">
                                                <h4><a href="#">Коллекции камней</a></h4>
                                            </div>
                                            <div class="catalog__block">
                                                <h4><a href="#">Для литотерапии</a></h4>
                                                <ul>
                                                    <li><a href="#">Гармонизаторы</a></li>
                                                    <li><a href="#">Массажеры</a></li>
                                                    <li><a href="#">Жезлы</a></li>
                                                    <li><a href="#">Камни для денег и бизнеса</a></li>
                                                    <li><a href="#">Камни для здоровья</a></li>
                                                    <li><a href="#">Камни для любви и семьи</a></li>
                                                    <li><a href="#">Камни для путешествий</a></li>
                                                    <li><a href="#">Камни для учебы</a></li>
                                                    <li><a href="#">Маятники биолокационные</a></li>
                                                    <li><a href="#">Минеральные эликсиры</a></li>
                                                    <li><a href="#">Нефритовые яйца</a></li>
                                                    <li><a href="#">Порошки и щебень</a></li>
                                                    <li><a href="#">Руны</a></li>
                                                    <li><a href="#">Наборы камней</a></li>
                                                </ul>
                                            </div>
                                            <div class="catalog__block">
                                                <h4><a href="#">Метеориты</a></h4>
                                                <ul>
                                                    <li><a href="#">Железные</a></li>
                                                    <li><a href="#">Каменные</a></li>
                                                    <li><a href="#">Железо-каменные</a></li>
                                                    <li><a href="#">Импактиты</a></li>
                                                    <li><a href="#">Тектиты</a></li>
                                                    <li class="dropdown-container">
                                                        <a href="#">Изделия с метеоритами</a><span class="arrow-circle dropdown-btn ignore-miss-click"></span>
                                                        <ul class="dropdown">
                                                            <li><a href="#">Одиночные</a></li>
                                                            <li><a href="#">Сростки</a></li>
                                                            <li><a href="#">Друзы</a></li>
                                                            <li><a href="#">В породе</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="catalog__col">
                                            <div class="catalog__block">
                                                <h4><a href="#">Окаменелости</a></h4>
                                                <ul>
                                                    <li><a href="#">Аммониты</a></li>
                                                    <li><a href="#">Зубы</a></li>
                                                    <li><a href="#">Насекомые</a></li>
                                                    <li><a href="#">Окаменелое дерево</a></li>
                                                    <li><a href="#">Рыбы</a></li>
                                                    <li><a href="#">Строматолиты</a></li>
                                                    <li><a href="#">Трилобиты</a></li>
                                                    <li><a href="#">Кости</a></li>
                                                    <li><a href="#">Растения</a></li>
                                                    <li><a href="#">Кораллы</a></li>
                                                </ul>
                                            </div>
                                            <div class="catalog__block">
                                                <h4><a href="#">Инструменты</a></h4>
                                                <ul>
                                                    <li><a href="#">Геологические молотки</a></li>
                                                    <li><a href="#">Камнерезный инструмент</a></li>
                                                    <li><a href="#">Инструменты для рукоделия</a></li>
                                                </ul>
                                            </div>
                                            <div class="catalog__block">
                                                <h4><a href="#">Сопутствующие товары</a></h4>
                                                <ul>
                                                    <li><a href="#">Фурнитура</a></li>
                                                    <li><a href="#">Подарочная упаковка</a></li>
                                                    <li><a href="#">Боксы и коробки</a></li>
                                                    <li><a href="#">Мастика</a></li>
                                                </ul>
                                            </div>
                                            <div class="catalog__block">
                                                <h4><a href="#">Книги о камнях</a></h4>

                                            </div>
                                            <div class="catalog__block">

                                                <ul>
                                                    <li><a href="#">Новые поступления</a></li>
                                                    <li><a href="#" style="color: #51b37b; font-weight: bold;">Лучшие предложения <span class="emoji emoji--like"></span></a></li>
                                                    <li><a href="#" style="color: #dba00f; font-weight: bold;">VIP <span class="emoji emoji--vip"></span></a></li>
                                                    <li><a href="#">По гороскопу</a></li>
                                                    <li><a href="#">Для интерьера</a></li>
                                                    <li><a href="#">В подарок</a></li>
                                                    <li><a href="#">Для детей</a></li>
                                                    <li><a href="#">Для мужчин</a></li>
                                                    <li><a href="#">Для рукоделия</a></li>
                                                    <li><a href="#">Для коллекционеров</a></li>
                                                </ul>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bot__right">
                    <form class="header-bot__search" action="ajax.php">
                        <input class="awesomplete" data-list="#mylist" type="text" placeholder="Поиск по каталогу, статьям, мероприятиям"/>
                        <ul id="mylist" class="awesomplete-list" >
                            <li>Ada</li>
                            <li>Java</li>
                            <li>JavaScript</li>
                            <li>Brainfuck</li>
                            <li>LOLCODE</li>
                            <li>Node.js</li>
                            <li>Ruby on Rails</li>
                        </ul>
                        <button type="submit"></button>
                    </form>
                    <div class="header-bot__cabasket">
                        <div class="header-bot__cabinet">
                            <div class="header-bot__img">
                                <img src="images/66.png" alt="">
                                <div class="header-bot__pin" style="background-color: #85a943;">6%</div>
                            </div>
                            <div class="header-bot__text">
                                <p><b>Константин</b></p>
                                <p>Ваша скидка 6%</p>
                            </div>
                            <div class="dropdowned lc-dropdown">
                                <div class="dropdowned__wrap lc-dropdown__wrap">
                                    <ul>
                                        <li><a href="#">Мои заказы</a><span class="lc-dropdown__pin">3</span></li>
                                        <li><a href="#">Мои отзывы</a></li>
                                        <li><a href="#">Сообщения</a><span class="lc-dropdown__pin">25</span></li>
                                        <li><a href="#">Баланс</a><span class="lc-dropdown__pin">28 900 ₽</span></li>
                                        <li><a href="#">Платежная информация</a></li>
                                        <li><a href="#">Адрес доставки</a></li>
                                        <li><a href="#">Профиль</a></li>
                                        <li class="title">подписки</li>
                                        <li><a href="#">StoneBox</a></li>
                                        <li><a href="#">Клуб Камневедов </a></li>
                                        <li><a href="#">Выйти</a></li>
                                        <li>
                                            <a href="#">Войти</a>
                                            <p>По персональному промокоду</p>
                                        </li>
                                        <li>
                                            <a data-fancybox data-src="#registration" href="javascript:;">Зарегистрироваться</a>
                                            <p>Получите скидку 3%</p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="header-bot__busket dropdown-container">
                            <div class="header-bot__img dropdown-btn">
                                <img src="images/cart.svg" alt="">
                                <div class="header-bot__pin" style="background-color: #ff5d00;">5</div>
                            </div>
                            <div class="header-bot__text">
                                <p><b><a href="#">Моя корзина</a> </b></p>
                                <p>Отложено: 10</p>
                            </div>
                            <div class="header-bot__items">
                                <a href="#"><img src="images/photo.png" alt=""></a>
                                <a href="#"><img src="images/photo.png" alt=""></a>
                                <a href="#"><img src="images/photo.png" alt=""></a>
                            </div>
                            <div class="timetogo">
                                <div class="timetogo__percent">3%</div>
                                <div class="timetogo__timer" data-start-sec="1800">24 мин 32 сек</div>
                                <div class="timetogo__dropdown">
                                    <div class="timetogo__green"><span></span>3%</div>
                                    <div class="timetogo__text">
                                        <p><b>Быстрее = дешевле!</b></p>
                                        <p>Оформите заказ за 25 минут —
                                            и получите дополнительную скидку на все, что лежит в корзине!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="basket-dropdown dropdown dropdowned">
                                <div class="dropdowned__wrap basket-dropdown__inner">
                                    <div class="basket-dropdown__wrap">
                                        <div class="basket-dropdown__info">
                                            <div class="basket__info-row">
                                                <span>Без скидки
                                                    <div class="dropdowned">
                                                        <div class="dropdowned__wrap">
                                                            test
                                                        </div>
                                                    </div>
                                                </span>
                                                <b>7 950 ₽</b>

                                            </div>
                                            <div class="basket__info-row">
                                                <span>Скидки
                                                    <div class="dropdowned">
                                                        <div class="dropdowned__wrap">
                                                            <div class="basket__info-row">
                                                                <span>Скидка товаров</span><b>-1 520 ₽</b>
                                                            </div>
                                                            <div class="basket__info-row">
                                                                <span>Накопительная скидка</span><b>-1 520 ₽</b>
                                                            </div>
                                                            <div class="basket__info-row">
                                                                <span>Временная скидка 3%</span><b>-1 520 ₽</b>
                                                            </div>
                                                            <div class="basket__info-row">
                                                                <span>Промокод</span><b>-1 520 ₽</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </span>
                                                <b>-477 ₽</b>
                                                <div  class="basket__info-additional">
                                                    +3% скидка
                                                    <div class="timer-basket" data-start-sec="1800"></div>
                                                </div>
                                            </div>
                                            <div class="basket__info-row">
                                                <span>Итого без учета доставки</span><b>7 473 ₽</b>
                                            </div>
                                            <div class="basket-dropdown__box">
                                                <a class="right" href="#">Можно снизить цену</a>
                                                <a href="#" class="button button__yellow"><span>Оформить заказ</span></a>
                                            </div>
                                        </div>

                                        <div class="greencar">
                                            <div class="greencar__car-wrap">
                                                <div class="greencar__start">0 ₽ </div>
                                                <div class="greencar__line"><div class="greencar__line-in" style="width:50%;"></div></div>
                                                <div class="greencar__end">3000 ₽</div>
                                            </div>
                                            <p>Хотите бесплатную доставку? <a href="#">Добавьте товаров</a> еще на сумму <span>2 147</span> ₽</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

