<!-- HEADER -->
<header>
    <div class="header-mobile__wrap">
        <div class="header-mobile">
            <div class="header-mobile__item mobile-butter caller-mob-menu" data-relative="menu"><img src="images/buter-m.png" alt=""></div>
            <a href="#" class="header-mobile__item mobile-logo"><img src="images/logo-m.png" alt=""></a>
            <div class="header-mobile__item mobile-search caller-mob-menu"  data-relative="search"><img src="images/search-m.png" alt=""></div>
            <div class="header-mobile__item mobile-user caller-mob-menu" data-relative="user"><img src="images/user-m.png" alt=""></div>
            <a href="#" class="header-mobile__item mobile-cart">
                <div class="header-bot__img header-bot__img--mobile">
                    <img src="images/cart.jpg" alt="">
                    <div class="header-bot__pin header-bot__pin--mobile" style="background-color: #ff5d00;">5</div>
                </div>
            </a>
        </div>
        <div class="mobile-menus">
            <div class="lc-dropdown mobile-lc mobile-menus__item" data-relative="user">
                <div class="mobile-menus__close"><span></span><span></span></div>
                <div class="lc-dropdown__wrap">
                    <ul>
                        <li class="mobile-lc__top">
                            <div class="header-bot__img">
                                <img src="images/66.png" alt="">
                                <div class="header-bot__pin" style="background-color: #85a943;">6%</div>
                            </div>
                            <div class="header-bot__text">
                                <p><b>Здравствуйте, Константин</b></p>
                                <p>Ваша скидка 6%</p>
                            </div>
                        </li>
                        <li><a href="#">Мои заказы</a><span class="lc-dropdown__pin">3</span></li>
                        <li><a href="#">Мои отзывы</a></li>
                        <li><a href="#">Сообщения</a><span class="lc-dropdown__pin">25</span></li>
                        <li><a href="#">Баланс</a><span class="lc-dropdown__pin">28 900 ₽</span></li>
                        <li><a href="#">Платежная информация</a></li>
                        <li><a href="#">Адрес доставки</a></li>
                        <li><a href="#">Профиль</a></li>
                        <li class="title">подписки</li>
                        <li><a href="#">StoneBox</a></li>
                        <li><a href="#">Клуб Камневедов </a></li>
                        <li><a href="#">Выйти</a></li>
                        <li>
                            <a href="#">Войти</a>
                            <p>По персональному промокоду</p>
                        </li>
                        <li>
                            <a data-fancybox data-src="#registration" href="javascript:;">Зарегистрироваться</a>
                            <p>Получите скидку 3%</p>
                        </li>

                    </ul>
                </div>
            </div>
            <div class=" mobile-menus__item mobile-sc" data-relative="search">
                <div class="mobile-menus__close"><span></span><span></span></div>
                <div class="mobile-sc__content">
                    <form class="mobile-sc__input">
                        <input type="text" placeholder="Search">
                        <div class="mobile-sc__del"><span></span><span></span></div>
                        <button class="mobile-sc__search"><img src="images/search-outlines.png" alt=""></button>
                    </form>
                    <div class="mobile-sc__result">
                        <ul>
                            <li><a href="#">Аметист</a></li>
                        </ul>
                        <ul>
                            <li class="mobile-sc__result--title">Акции</li>
                            <li>Скидка 10% на все украшения  с аметистом</li>
                        </ul>
                        <ul>
                            <li class="mobile-sc__result--title">Товары</li>
                            <li><a href="#">Аметист, кристалл двухголовик  2-2,5 см</a></li>
                            <li><a href="#">Аметист, кристалл 3,5-5 см</a></li>
                            <li><a href="#">Аметист, кристалл 1,5х1 см</a></li>
                            <li><a href="#">Аметист, сросток кристаллов 9х5,8х4,8 см</a></li>
                            <li><a href="#">Аметист, кристалл 3,5х3,5х2,7 см</a></li>
                            <li class="mobile-sc__result--hidden"><a href="#">Аметист, кристалл двухголовик  2-2,5 см</a></li>
                            <li class="mobile-sc__result--hidden"><a href="#">Аметист, кристалл 3,5-5 см</a></li>
                            <li class="mobile-sc__result--hidden"><a href="#">Аметист, кристалл 1,5х1 см</a></li>
                            <li class="mobile-sc__result--hidden"><a href="#">Аметист, сросток кристаллов 9х5,8х4,8 см</a></li>
                            <li class="mobile-sc__result--hidden"><a href="#">Аметист, кристалл 3,5х3,5х2,7 см</a></li>
                            <li class="mobile-sc__result--show-all"><a href="#">Показать все</a></li>
                        </ul>
                        <ul>
                            <li class="mobile-sc__result--title">Образцы из коллекций</li>
                            <li>Аметист, друза 25 см</li>
                        </ul>
                        <ul>
                            <li class="mobile-sc__result--title">Статьи</li>
                            <li>Полезные свойства аметиста</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="lc-dropdown mobile-menus__item mobile-mc" data-relative="menu">
                <div class="mobile-menus__close"><span></span><span></span></div>
                <div class="lc-dropdown__wrap">
                    <ul>
                        <li class="mobile-mc__pin">
                            <img src="images/location.png" alt="">
                            <a href="#" class="caller-mob-menu" data-relative="city">Санкт-Петербург<p>Доставим 3 марта</p></a>

                        </li>
                        <li class="mobile-mc__butter">
                            <img src="images/buter-m.png" alt="">
                            <a href="#" class="caller-mob-menu" data-relative="catalog">Каталог товаров</a>
                        </li>
                        <li><a href="#" style="color: #ff5d00;">Скидки и акции <span class="emoji emoji--fire"></span></a></li>
                        <li><a href="#">Stone Box</a></li>
                        <li><a href="#">Клуб</a></li>
                        <li><a href="#">Наша коллекция</a></li>
                        <li><a href="#">Блог</a></li>
                        <li><a href="#">Мероприятия</a></li>
                        <li><a href="#">Месторождения</a></li>
                    </ul>
                    <ul class="mobile-mc__blacklist">
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Доставка и оплаты</a></li>
                        <li><a href="#">Обмен и возврат</a></li>
                        <li><a href="#">Отзывы</a></li>
                        <li><a href="#">Оптовикам</a></li>
                        <li><a href="#">Партнерам</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                    <div class="mobile-mc__contacts">
                        <div class="header-top__social">
                            <a href="#" class="social social--tg"></a>
                            <a href="#" class="social social--vk"></a>
                            <a href="#" class="social social--ms"></a>
                            <a href="#" class="social social--wa"></a>
                        </div>
                        <div class="header-top__contact">
                            <p><b><a href="#">8 (800) 775-45-19</a></b><a href="mailto:info@kamnevedy.ru">info@kamnevedy.ru </a></p>
                            <p>Москва, ул. 2-ая Машиностроения, д. 17, корп. 1, метро Дубровка </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="lc-dropdown mobile-menus__item mobile-city" data-relative="city">
                <div class="mobile-menus__close"><span></span><span></span></div>
                <div class="mobile-menus__title">Выбор города</div>
                <div class="mobile-menus__back caller-mob-menu" data-relative="menu"></div>
                <form class="mobile-sc__input">
                    <input type="text" placeholder="Search">
                    <div class="mobile-sc__del"><span></span><span></span></div>
                    <button class="mobile-sc__search"><img src="images/search-outlines.png" alt=""></button>
                </form>
                <div class="lc-dropdown__wrap mobile-city__result">
                    <ul>
                        <li><a href="#">Саранск</a></li>
                        <li><a href="#">Саратов</a></li>
                    </ul>
                </div>
            </div>
            <div class="lc-dropdown mobile-menus__item" data-relative="catalog">
                <div class="mobile-menus__close"><span></span><span></span></div>
                <div class="mobile-menus__title">Каталог товаров</div>
                <div class="mobile-menus__back caller-mob-menu" data-relative="menu"></div>
                <div class="lc-dropdown__wrap mobile-city__result">
                    <ul>
                        <li class="mobile-mc__butter">
                            <a href="#" class="caller-mob-menu" data-relative="inner">Все камни и минералы</a>
                        </li>
                        <li class="mobile-mc__butter">
                            <a href="#" class="caller-mob-menu" data-relative="inner2">Украшения</a>
                        </li>
                    </ul>
                    <ul class="mobile-mc__blacklist">
                        <li><a href="#">Новые поступления</a></li>
                        <li><a href="#" style="color: #51b37b;">Лучшие предложения <span class="emoji emoji--like"></span></a></li>
                        <li><a href="#" style="color: #dba00f;">VIP<span class="emoji emoji--vip"></span></a></li>
                        <li><a href="#">По гороскопу</a></li>
                        <li><a href="#">Для интерьера</a></li>
                        <li><a href="#">Для детей</a></li>
                        <li><a href="#">Для мужчин</a></li>
                        <li><a href="#">Для рукоделия</a></li>
                        <li><a href="#">Для коллекционеров</a></li>
                    </ul>
                </div>
            </div>
            <div class="lc-dropdown mobile-menus__item" data-relative="inner">
                <div class="mobile-menus__close"><span></span><span></span></div>
                <div class="mobile-menus__title">Все камни и минералы</div>
                <div class="mobile-menus__back caller-mob-menu" data-relative="catalog"></div>
                <div class="lc-dropdown__wrap mobile-city__result">
                    <ul class="mobile-mc__blacklist">
                        <li><a href="#">Новые поступления</a></li>
                        <li><a href="#" style="color: #51b37b;">Лучшие предложения <span class="emoji emoji--like"></span></a></li>
                        <li><a href="#" style="color: #dba00f;">VIP<span class="emoji emoji--vip"></span></a></li>
                        <li><a href="#">По гороскопу</a></li>
                        <li><a href="#">Для интерьера</a></li>
                        <li><a href="#">Для детей</a></li>
                        <li><a href="#">Для мужчин</a></li>
                        <li><a href="#">Для рукоделия</a></li>
                        <li><a href="#">Для коллекционеров</a></li>
                    </ul>
                </div>
            </div>
            <div class="lc-dropdown mobile-menus__item" data-relative="inner2">
                <div class="mobile-menus__close"><span></span><span></span></div>
                <div class="mobile-menus__title">Украшения</div>
                <div class="mobile-menus__back caller-mob-menu" data-relative="catalog"></div>
                <div class="lc-dropdown__wrap mobile-city__result">
                    <ul class="mobile-mc__blacklist">
                        <li><a href="#">Новые поступления</a></li>
                        <li><a href="#" style="color: #51b37b;">Лучшие предложения <span class="emoji emoji--like"></span></a></li>
                        <li><a href="#" style="color: #dba00f;">VIP<span class="emoji emoji--vip"></span></a></li>
                        <li><a href="#">По гороскопу</a></li>
                        <li><a href="#">Для интерьера</a></li>
                        <li><a href="#">Для детей</a></li>
                        <li><a href="#">Для мужчин</a></li>
                        <li><a href="#">Для рукоделия</a></li>
                        <li><a href="#">Для коллекционеров</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-top header-top--mini">
        <div class="mbox">
            <div class="header-top__wrap">
                <div class="header-top__left">
                    <div class="header-top__logo">
                        <a href="#"><img src="images/orange-horizontal.png" alt=""></a>
                    </div>
                    <div class="header-top__city dropdown-container">
                        <div class="header-top__city-wrap">
                            <a href="#" class="dropdown-btn">Санкт-Петербург</a>
                            <p>Доставим <span>3 марта</span></p>
                        </div>
                        <div class="dropdown  dropdowned hc-dropdown">
                            <div class="dropdowned__wrap hc-dropdown__wrap">
                                <p>Ваш город</p>
                                <p> Санкт-Петербург?</p>
                                <p>
                                    <a href="#" class="button dropdown-close"><span>Да</span></a>
                                    <a data-fancybox data-src="#choose-city" href="javascript:;" class="button"><span>Нет</span></a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="header-top__right">
                    <div class="header-top__social">
                        <a href="#" class="social social--tg"></a>
                        <a href="#" class="social social--vk"></a>
                        <a href="#" class="social social--ms"></a>
                        <a href="#" class="social social--wa"></a>
                    </div>
                    <div class="header-top__contact">
                        <p><a href="mailto:info@kamnevedy.ru">info@kamnevedy.ru </a><b><a href="#">8 (800) 775-45-19</a></b></p>
                        <p>Москва, ул. 2-ая Машиностроения, д. 17, корп. 1, метро Дубровка </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<!-- /HEADER -->

