<!-- HEADER -->
<header>
    <div class="header-top">
        <div class="mbox">
            <div class="header-top__wrap">
                <div class="header-top__left">
                    <div class="header-top__logo">
                        <a href="#"><img src="images/orange-horizontal.png" alt=""></a>
                    </div>
                    <div class="header-top__city dropdown-container">
                        <div class="header-top__city-wrap">
                            <a href="#" class="dropdown-btn">Санкт-Петербург</a>
                            <p>Доставим <span>3 марта</span></p>
                        </div>
                        <div class="dropdown hc-dropdown">
                            <div class="dropdown__wrap hc-dropdown__wrap">
                                <p>Ваш город</p>
                                <p> Санкт-Петербург?</p>
                                <p>
                                    <a href="#" class="button"><span>Да</span></a>
                                    <a href="#" class="button"><span>Нет</span></a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="header-top__right">
                    <div class="header-top__social">
                        <a href="#" class="social social--tg"></a>
                        <a href="#" class="social social--vk"></a>
                        <a href="#" class="social social--ms"></a>
                        <a href="#" class="social social--wa"></a>
                    </div>
                    <div class="header-top__contact">
                        <p><a href="mailto:info@kamnevedy.ru">info@kamnevedy.ru </a><b><a href="#">8 (800) 775-45-19</a></b></p>
                        <p>Москва, ул. 2-ая Машиностроения, д. 17, корп. 1, метро Дубровка </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bot">
        <div class="mbox">
            <div class="header-bot__wrap">
                <div class="header-bot__catalog dropdown-container">
                    <div class="dropdown-btn header-bot__catalog-butt">
                        <span>Весь каталог</span>
                        <div class="header-bot__catalog-icon"><span></span><span></span><span></span></div>
                    </div>
                    <div class="dropdown cat-dropdown">
                        <div class="dropdown__wrap cat-dropdown__wrap"></div>
                    </div>
                </div>
                <div class="header-bot__right">
                    <div class="header-bot__search"></div>
                    <div class="header-bot__cabasket">
                        <div class="header-bot__cabinet">
                            <div class="header-bot__img">
                                <img src="images/66.png" alt="">
                            </div>
                            <div class="header-bot__text"></div>
                        </div>
                        <div class="header-bot__busket">
                            <div class="header-bot__img">
                                <img src="images/cart.png" alt="">
                            </div>
                            <div class="header-bot__text"></div>
                            <div class="header-bot__items">
                                <a href="#"><img src="images/photo.png" alt=""></a>
                                <a href="#"><img src="images/photo.png" alt=""></a>
                                <a href="#"><img src="images/photo.png" alt=""></a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

