<ul class="lk-menu">
    <li><a href="#">Мои заказы</a><span class="lc-dropdown__pin">3</span></li>
    <li><a href="#">Отзывы</a><span class="lc-dropdown__pin">25</span></li>
    <li class="active"><a href="#">Баланс</a><span class="lc-dropdown__pin">28 900 ₽</span></li>
    <li><a href="#">Платежная информация</a></li>
    <li><a href="#">Адрес доставки</a></li>
    <li><a href="#">Профиль</a></li>
    <li class="title">Подписки</li>
    <li><a href="#">StoneBox</a></li>
    <li><a href="#">Клуб Камневедов</a></li>

</ul>