<div class="mailer">
    <h2>Кроме блога мы ведем авторскую рассылку</h2>
    <h5 class="gray">Отправляем письма раз в неделю, иногда чаще: если решили снова порадовать вас и провести незапланированную акцию, рассказать замечательные новости, да и вообще поделиться хорошим настроением. И, да: никакого спама.</h5>
    <div class="mailer__content">
        <div class="mailer__slider-wrap">
            <div class="mailer__slider">
                <div class="mailer__slide-wrap">
                    <a data-fancybox="gallery" href="images/letter.png" class="mailer__slide">
                        <img src="images/letter.png" alt="">
                    </a>
                </div>
                <div class="mailer__slide-wrap">
                    <a data-fancybox="gallery" href="images/letter.png" class="mailer__slide">
                        <img src="images/letter.png" alt="">
                    </a>
                </div>
                <div class="mailer__slide-wrap">
                    <a data-fancybox="gallery" href="images/letter.png" class="mailer__slide">
                        <img src="images/letter.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <h2>Хотите получать <span>такие</span> письма?</h2>
        <h5>Просто подпишитесь — и будьте в курсе всех акций и специальных предложений</h5>
        <div class="mailer__form">
            <form action="ajax.php">
                <div class="mailer__input"><input type="email" placeholder="Ваш e-mail" required="required"></div>
                <div class="mailer__button">
                    <button class="button button__yellow"><span>Подписаться</span></button>
                </div>
            </form>
        </div>
        <p><b>Кстати! </b>Каждый подписчик получает еще и <b>3% скидки</b> на все покупки. <a href="#">Подробнее</a></p>
    </div>
</div>