<div class="contacts__map-wrap">
	<div class="contacts__map" id="map">
	</div>
	<div class="location-target">
		<div class="location-target__img">
			<img src="images/mark-title.jpg" alt="mark">
		</div>
		<div class="location-target__street">
			<b>ул. 2-я Машиностроения, д. 17/1</b>
		</div>
		<div class="location-target__info">
			5 минут ходьбы от ст.м. Дубровка
		</div>
		<!-- <a href="#" class="location-target__btn">Как пройти</a> -->
		<a href="#" class="button">
			<span>
				<img src="images/youtube.png" alt="">
				как пройти
			</span>
		</a>
	</div>
</div>