<div class="category-page__paginator">
    <a href="#" class="button"><span>Назад</span></a>
    <div class="category-page__paginator-main">
        <select class="paginator__select" data-placeholder="1"></select>
        <a href="#" class="button js-pagi"><span>1</span></a>
        <a href="#" class="button js-pagi"><span>2</span></a>
        <a href="#" class="button js-pagi"><span>3</span></a>
        <a href="#" class="button js-pagi"><span>4</span></a>
        <a href="#" class="button js-pagi"><span>5</span></a>
        <span class="category-page__paginator-dots js-pagi">...</span>
        <a href="#" class="button js-pagi"><span>25</span></a>
        <a href="#" class="button js-pagi"><span>35</span></a>
    </div>
    <a href="#" class="button"><span>Дальше</span></a>
</div>