<p> <!-- блок для тестового просмотра всех попапов  -->
    <a data-fancybox data-src="#registration" href="javascript:;">__Registration__</a>
    <a data-fancybox data-src="#already-email" href="javascript:;">__Если адрес уже есть в базе__</a>
    <a data-fancybox data-src="#secod-social" href="javascript:;">__Второй шаг регистрации через социальные сети__</a>
    <a data-fancybox data-src="#register-done" href="javascript:;">__register done__</a>
    <a data-fancybox data-src="#entrance" href="javascript:;">__entrance__</a>
    <a data-fancybox data-src="#recovery-step-1" href="javascript:;">__recovery-step-1__</a>
    <a data-fancybox data-src="#recovery-step-2" href="javascript:;">__recovery-step-2__</a>
    <a data-fancybox data-src="#recovery-step-3" href="javascript:;">__recovery-step-3__</a>
    <a data-fancybox data-src="#recovery-step-4" href="javascript:;">__recovery-step-4__</a>
    <a data-fancybox data-src="#recovery-step-5" href="javascript:;">__recovery-step-5__</a>
    <a  data-fancybox data-src="#choose-city" href="javascript:;">__choose city__</a>
    <a  data-fancybox data-src="#subscribe" href="javascript:;">__subscribey__</a>
    <a  data-fancybox data-src="#reg-success" href="javascript:;">__reg-success__</a>
    <a data-fancybox-map data-src="#map-clauses" href="javascript:;" data-options='{ "modal" : "true"}'>__map-clauses__</a>
    <a  data-fancybox data-src="#one-click" href="javascript:;">__one-click__</a>
    <a  data-fancybox data-src="#promocode" href="javascript:;">__promocode__</a>
    <a  data-fancybox data-src="#choose-addres" href="javascript:;">__choose-addres__</a>
    <a  data-fancybox data-src="#new-addres" href="javascript:;">__new-addres__</a>
    <a  data-fancybox data-src="#order" href="javascript:;">__order__</a>
</p>