<div class="rock-man">
    <div class="mbox">
        <div class="rock-man__wrap">
            <h2>Вы можете быть уверены в каждойпокупке в «Камневедах»: мы гарантируем<br> 100% натуральность камней</h2>
            <h5>Все камни проверяются штатными специалистами-геологами на натуральность и соответствие названий. Вы можете быть уверены, что покупаете именно то, что вам нужно </h5>
            <div class="rock-man__text">
                <p>При необходимости мы можем заказать геммологическую экспертизу и сертификат соответствия.</p>
                <p> Сертификат предоставляет независимая экспертиза Научного геммологического центра при Минералогическом музее им. А.Е. Ферсмана Российской академии наук.</p>
                <p> Экспертизу проводят сотрудники Российской академии наук, аккредитованные специалисты в области геологии, геммологии, минералогии и палеонтологии. </p>
                <h4>Посмотрите пример сертификата</h4>
                <a href="images/rock-sertf.jpg" data-fancybox class="rock-man__button">
                    <span class="rock-man__button-img"><img src="images/ic-let.png" alt=""></span>
                    <span class="rock-man__button-txt">
                    <p>Сертификат Р-313024 Российской академии наук</p>
                </span>
                </a>
            </div>
            <div class="rock-man__img"><img src="images/rock-man.png" alt=""></div>
        </div>
    </div>
</div>