<div class="slider">
    <div class="slider__wrap">
        <div class="slider__slide-wrap">
            <div class="slider__slide" style="background-image: url(images/bg1.jpg);">
                <div class="slider__text">
                    <h1>Украшения из камней</h1>
                    <a href="#">Перейти в каталог</a>
                </div>
            </div>
        </div>
        <div class="slider__slide-wrap">
            <div class="slider__slide" style="background-image: url(images/bg1.jpg);">
                <div class="slider__text">
                    <h1>Украшения из камней</h1>
                    <a href="#">Перейти в каталог</a>
                </div>
            </div>
        </div>
        <div class="slider__slide-wrap">
            <div class="slider__slide" style="background-image: url(images/bg1.jpg);">
                <div class="slider__text">
                    <h1>Украшения из камней</h1>
                    <a href="#">Перейти в каталог</a>
                </div>
            </div>
        </div>
        <div class="slider__slide-wrap">
            <div class="slider__slide">
                <div class="slider__text">
                    <h1>Украшения из камней</h1>
                    <a href="#">Перейти в каталог</a>
                </div>
            </div>
        </div>
    </div>
</div>