<ul class="social-links">
  <li class="social-links__item">
    <a href="#" target="_blank" class="social-links__link social-links__vk">
      <svg class="icon icon-vkm">
        <use xlink:href="#vkm"></use>
      </svg>
    </a>
  </li>
  <li class="social-links__item">
    <a href="#" target="_blank" class="social-links__link social-links__fb">
      <svg class="icon icon-fb">
        <use xlink:href="#fb"></use>
      </svg>
    </a>
  </li>
  <li class="social-links__item">
    <a href="#" target="_blank" class="social-links__link social-links__yt">
      <svg class="icon icon-yt">
        <use xlink:href="#yt"></use>
      </svg>
    </a>
  </li>
  <li class="social-links__item">
    <a href="#" target="_blank" class="social-links__link social-links__inst">
      <svg class="icon icon-insta">
        <use xlink:href="#insta"></use>
      </svg>
    </a>
  </li>
</ul>