<div class="tovar">
    <div class="tovar__img">
        <img src="images/kamen.jpeg" data-object-fit alt="">
        <a href="#" class="tovar__like">
            <svg class="icon-star">
              <use xlink:href="#star"></use>
            </svg>
        </a>
        <div class="tovar__info" style="background-color: #9b6fe9;">Ночная скидка</div>
    </div>
    <div class="tovar__text">
        <div class="tovar__name oneHeight">
            <a href="#" >Name item three row line bla bla bla bla bla sad asdasd</a>
        </div>
        <div class="tovar__price">
            <div class="tovar__price-inner">
                <strike>49 491 ₽</strike>
                <strong>9 890 ₽</strong>
           </div>
            <div class="tovar__sale">-15%</div>
        </div>
    </div>
    <div class="tovar__buy">
        <button class="button button__yellow"><span>В корзину</span></button>
        <a href="#">Купить в один клик</a>
    </div>
    <div class="tovar-mobile">
        <button class="tovar-mobile__buy"></button>
        <button class="tovar-mobile__like"></button>
    </div>
</div>