<div class="profile">
    <h2>Адрес доставки</h2>
    <h3>Сохраненные адреса</h3>
    <div class="profile__content">
        <div class="profile__row">
            <div class="profile__main">
                <p>412000, г. Санкт-Петербург,  ул. Ленина, д. 40, кв. 50</p>
                <div class="profile__addict">
                    <a href="#">Сделать по умолчанию</a>
                    <div class="profile__show">Изменить</div>
                </div>

            </div>
            <form action="" class="profile__form">
                <div class="profile__form-wrap">
                    <div class="profile__form-row">
                        <span>Страна</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Населенный пункт</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Улица</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Дом, корпус</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Квартира</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Индекс</span>
                        <input type="text">
                    </div>


                </div>
                <div class="profile__buttons">
                    <button class="button button__yellow"><span>Сохранить</span></button>

                    <div class="profile__close">Закрыть</div>
                </div>
            </form>
        </div>
        <div class="profile__row">
            <div class="profile__main">
                <p>125009, г. Москва,  Малый Гнездниковский пер., 9с6А</p>
                <div class="profile__addict"><span>По умолчанию</span> <div class="profile__show">Изменить</div></div>

            </div>
            <form action="" class="profile__form">
                <div class="profile__form-wrap">
                    <div class="profile__form-row">
                        <span>Страна</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Населенный пункт</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Улица</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Дом, корпус</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Квартира</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Индекс</span>
                        <input type="text">
                    </div>


                </div>
                <div class="profile__buttons">
                    <button class="button button__yellow"><span>Сохранить</span></button>

                    <div class="profile__close">Закрыть</div>
                </div>
            </form>
        </div>
        <div class="profile__row profile__row--hidden">
            <div class="profile__payment">
                <div  class="button button__green profile__show"><span>Добавить адрес</span></div>
            </div>
            <form action="" class="profile__form">
                <div class="profile__form-wrap">
                    <div class="profile__form-row">
                        <span>Страна</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Населенный пункт</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Улица</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Дом, корпус</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Квартира</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Индекс</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <label>
                            <div class="checkbox__styled">
                                <input type="checkbox"><i></i>
                            </div>
                            <p>Сделать по умолчанию</p>
                        </label>

                    </div>


                </div>
                <div class="profile__buttons">
                    <button class="button button__yellow"><span>Добавить адрес</span></button>

                    <div class="profile__close">Закрыть</div>
                </div>
            </form>
        </div>

    </div>


</div>
