<div class="lk-club">
	<h2>Клуб Камневедов</h2>
	<h3>Вступайте в закрытый клуб для постоянных клиентов </h3>
	<p class="lk-club__text">Это не только особая атмосфера для своих, но и привилегии, недоступные другим клиентам «Камневедов»</p>
	<div class="adv-mini">
		<ul class="adv-mini__list">
			<li class="adv-mini__item">
				<div class="adv-mini__img">
					<img src="images/loya.png" alt="icon">
				</div>
				<p class="adv-mini__text">Скидка на все товары +3%</p>
			</li>
			<li class="adv-mini__item">
				<div class="adv-mini__img">
					<img src="images/orde.png" alt="icon">
				</div>
				<p class="adv-mini__text">Бесплатная доставка по России и спецусловия для других стран</p>
			</li>
			<li class="adv-mini__item">
				<div class="adv-mini__img">
					<img src="images/arche.png" alt="icon">
				</div>
				<p class="adv-mini__text">Доступ к нашей особой коллекции камней и минералов</p>
			</li>
			<li class="adv-mini__item">
				<div class="adv-mini__img">
					<img src="images/invite.png" alt="icon">
				</div>
				<p class="adv-mini__text">Приглашения на закрытые мероприятия «Камневедов»</p>
			</li>
			<li class="adv-mini__item">
				<div class="adv-mini__img">
					<img src="images/cave.png" alt="icon">
				</div>
				<p class="adv-mini__text">Выезд в экспедиции вместе с нами</p>
			</li>
		</ul>
		<a href="#" class="button"><span>Больше о клубе</span></a>
	</div>
	<div class="lk-club__opp">
		<h3>Условия участия в клубе</h2>
		<div class="sales-club__wrap">
			<div class="sales-club__list">
				<li class="sales-club__list-item">
					<div class="sales-reviews__shape sales__check"></div>
					<div class="sales-club__icon">
						<img src="images/icon-man-ok.png" alt="icon">
					</div>
					<div class="sales-club__text">Вы должны быть зарегистрированным пользователем сайта</div>
				</li>
				<li class="sales-club__list-item">
					<div class="sales-reviews__shape sales__check"></div>
					<div class="sales-club__icon">
						<img src="images/icon-man.png" alt="icon">
					</div>
					<div class="sales-club__text">Вы должны быть частным лицом. Для оптовиков у нас <a href="#">другие условия</a></div>
				</li>
				<li class="sales-club__list-item">
					<div class="sales-reviews__shape sales__check"></div>
					<div class="sales-club__icon">
						<img src="images/icon-checklist.png" alt="icon">
					</div>
					<div class="sales-club__text">Общая сумма покупок должна составлять не менее 15 000 рублей</div>
					<blockquote>Сейчас общая сумма покупок 12 320 ₽, осталось еще 2 680 ₽</blockquote>
				</li>
			</div>
		</div>
		<div class="club__condition">Осталось еще 1 условие</div>
	</div>
	<div class="lk-club__bottom">
		<h3>Членство в Клубе платное</h2>
		<p>Участники Клуба находятся в нем только при своевременной оплате членских взносов.<br>В личном кабинете вы можете выбрать комфортный режим платежей и настроить автоплатеж.</p>
		<div class="sales-club__list">
			<li class="sales-club__list-item club__payment disabled">
				<div class="club-membership__price">249 ₽</div>
				<h6 class="club__for">за месяц</h6>
				<a href="#" class="button button__green club__button">
					<span>Купить месяц подписки</span>
				</a>
				<a href="#" class="club__conditions-link">Условия не выполнены</a>
			</li>
			<li class="sales-club__list-item club__payment disabled">
				<div class="club-membership__price">1 350 ₽</div>
				<h6 class="club__for">за 6 месяц</h6>
				<a href="#" class="button button__green club__button">
					<span>Купить 6 месяцев подписки</span>
				</a>
				<a href="#" class="club__conditions-link">Условия не выполнены</a>
			</li>
			<li class="sales-club__list-item club__payment">
				<div class="club__discount">-20%</div>
				<div class="club-membership__price">2 400 ₽</div>
				<h6 class="club__for">за год</h6>
				<a href="#" class="button button__green club__button">
					<span>Купить год подписки</span>
				</a>
				<a href="#" class="club__conditions-link">Условия не выполнены</a>
			</li>
		</div>
	</div>
</div>