<div class="lk-decor">
	<form>
		<h2>Клуб Камневедов</h2>
		<h3>Выберите удобный вам вариант</h3>
		<ul class="lk-decor__tabs lk-tabs__list">
			<li class="lk-tabs__item">
				<label>
					<input type="radio" name="stonebox" class="lk-tabs__input">
					<div class="lk-tabs__text">249 ₽</div>
					<blockquote>1 месяц</blockquote>
				</label>
			</li>
			<li class="lk-tabs__item active">
				<label>
					<input type="radio" name="stonebox" class="lk-tabs__input" checked>
					<div class="lk-tabs__text">1 350 ₽</div>
					<blockquote>6 месяцев</blockquote>
				</label>
			</li>
			<li class="lk-tabs__item lk-tabs__item--special">
				<label>
					<div class="special-discount">-20%</div>
					<input type="radio" name="stonebox" class="lk-tabs__input">
					<div class="lk-tabs__text">2 400 ₽</div>
					<blockquote>1 год</blockquote>
				</label>
			</li>
		</ul>
		<blockquote>Членство будет оплачено до 15 июня 2017 года</blockquote>
		<div class="lk-decor__del lk-stonebox__delivery">
			<h3>Скажите: кому и куда доставить Клубную карту?</h3>
			<div class="input__container">
				<div class="input__rowed">
					<h6 class="gray">Фамилия</h6>
					<div class="input__item">
						<input type="text" name="">
					</div>
				</div>
				<div class="input__rowed">
					<h6 class="gray">Имя</h6>
					<div class="input__item">
						<input type="text" name="">
					</div>
				</div>
				<div class="input__rowed">
					<h6 class="gray">Отчество</h6>
					<div class="input__item">
						<input type="text" name="">
					</div>
				</div>
			</div>
			<div class="input__container">
				<div class="input__rowed">
					<h6 class="gray">Адрес</h6>
					<div class="input__item lk-stonebox__radio-row">
						<div class="order-payment__row">
							<label class="radio__styled">
								<input type="radio" name="222"><i></i>
								<span>412000, г. Санкт-Петербург,  ул. Ленина, д. 40, кв. 50</span>
							</label>
						</div>
						<div class="order-payment__row">
							<label class="radio__styled">
								<input type="radio" name="222"><i></i>
								<span>412000, г. Санкт-Петербург,  ул. Ленина, д. 40, кв. 50</span>
							</label>
						</div>
						<a href="#">Другой адрес</a>
					</div>
				</div>
			</div>
			<div class="input__container">
				<div class="input__rowed">
					<h6 class="gray">Телефон</h6>
					<div class="input__item">
						<input type="text" name="">
					</div>
				</div>
				<div class="input__rowed">
					<h6 class="gray">Электронная почта</h6>
					<div class="input__item">
						<input type="text" name="">
					</div>
				</div>
			</div>
		</div>
		<div class="lk-stonebox__delivery">
			<h3>Укажите данные для оплаты</h3>
			<div class="lk-stonebox__text">
				<p>Подписка привязана к карте или внутреннему счету: раз в месяц с нее будут списываться плата.</p>
				<p>Вы в любой момент сможете отменить подписку в личном кабинете.</p>
			</div>
			<div class="order-payment">
				<div class="order-payment__row">
					<label class="radio__styled">
						<input type="radio" name="222"><i></i>
					</label>
					<span>Оплатить картой</span>
					<div class="order-payment__select">
						<select name="" id="">
							<option value="" class="mc-pay" >•••• •••• •••• 1234</option>
							<option value="" class="mc-pay">•••• •••• •••• 7684</option>
						</select>
					</div>
				</div>
				<div class="order-payment__row">
					<label class="radio__styled">
						<input type="radio" name="222"><i></i>
						<span>Использовать другую карту</span>
					</label>
				</div>
				<div class="order-payment__row">
					<label class="radio__styled">
						<input type="radio" name="222"><i></i>
						<span>Оплатить с внутреннего счета (У вас есть 28 900 ₽)</span>
					</label>
				</div>
			</div>
			<div class="agree-pay__submit">
				<div class="agree-pay__price">
					<span>К оплате</span>
					<p>1 250 ₽</p>
				</div>
				<button class="button button__yellow"><span>Оплатить</span></button>
			</div>
		</div>
	</form>
</div>