<section class="lk-main">
    <div class="lk-main__tab">
        <div class="lk-main__hr">
            <div class="lk-main__hr-left">
                <div class="lk-main__user">
                    <div class="header-bot__img">
                        <img src="images/66.png" alt="">
                        <div class="header-bot__pin" style="background-color: #85a943;">6%</div>
                    </div>
                    <div class="header-bot__text">
                        <p><b>Константин</b></p>

                    </div>
                </div>
                <div class="lk-main__sell">
                    <p>Ваша скидка: <b>6%</b></p>
                    <div class="dropdowned">
                        <div class="dropdowned__wrap dropdowned__sell">
                            <div class="lk-main__sell-row"><img src="images/4a.svg" alt=""><b>4%</b><span>5 000 ₽</span></div>
                            <div class="lk-main__sell-row"><img src="images/5a.svg" alt=""><b>5%</b><span>10 000 ₽</span></div>
                            <div class="lk-main__sell-row"><img src="images/6a.svg" alt=""><b>6%</b><span>15 000 ₽</span></div>
                            <div class="lk-main__sell-row unactive">
                                <img src="images/7a.svg" alt=""><b>7%</b><span>20 000 ₽</span>
                                <div class="lk-main__sell-bg" style="width: 45%;"></div>
                            </div>
                            <div class="lk-main__sell-row unactive"><img src="images/8a.svg" alt=""><b>8%</b><span>25 000 ₽</span></div>
                            <div class="lk-main__sell-row unactive"><img src="images/9a.svg" alt=""><b>9%</b><span>30 000 ₽</span></div>
                            <div class="lk-main__sell-row unactive"><img src="images/10a.svg" alt=""><b>10%</b><span>35 000 ₽</span></div>
                        </div>
                    </div>
                </div>
                <div class="lk-main__cash">
                    <p>На внутреннем счету: <b>28 900 ₽</b><a href="#">Пополнить</a></p>
                </div>
            </div>
            <div class="lk-main__button">
                <a href="#">Редактировать профиль</a>
            </div>

        </div>
        <div class="lk-main__row">
            <div class="lk-main__cell">
                <h6>Текущие заказы</h6>
                <h4>3</h4>
            </div>
            <div class="lk-main__cell">
                <h6>Выполненные заказы</h6>
                <h4>2</h4>
            </div>
        </div>
        <div class="lk-main__row">
            <div class="lk-main__cell">
                <h6>StoneBox</h6>
                <p><b>StoneBox «Выбор Камневедов» за 1 200 р. в месяц</b></p>
                <p>Следующий платеж: 24 июня 2017
                    Следующая отправка Stone Box: 30 июня 2017</p>
                <p><b>StoneBox «Кристаллы» за 800 р. в месяц</b></p>
                <p>Следующий платеж: 18 июня 2017
                    Следующая отправка Stone Box: 25 июня 2017</p>
            </div>
            <div class="lk-main__cell">
                <h6>Клуб камневедов</h6>
                <p><b>Подписка активна </b></p>
                <p>Следующий платеж: 18 июня 2017</p>
            </div>
        </div>
    </div>
    <div class="lk-main__text">
        <h2>Здравствуйте, Татьяна!</h2>
        <p>Это ваш личный кабинет.</p>
        <p>Мы постарались сделать его максимально удобным и функциональным: вы можете менять свои личные данные, отслеживать заказы и уровень своей скидки, работать  с отложенными товарами, подписываться на StoneBox, вступить в Клуб Камневедов, следить за состоянием внутреннего счета, пополнять его и тратить средства.</p>
        <p>Кстати, если у вас есть какие-то пожелания по оформлению или функциям личного кабинета — <a href="#">напишите нам!</a></p>
        <p>Мы добавим это в список дел и постараемся реализовать.</p>
    </div>

</section>