<section class="lk-orderlist">
    <h2>Мои заказы</h2>
    <h3>Текущие заказы</h3>
    <p>Текущих заказов: <b>3</b> на сумму <b>5 090 ₽</b> </p>
    <div class="od-check lk-orderlist__check">
        <div class="od-check__row">
            <h4>№ 12-34-123-4 <span class="gray">от 25 мая 2017</span></h4>
            <p>Ожидает оплаты</p>
        </div>
        <div class="od-check__row">
            <div class="od-check__tab">
                <div class="od-check__row">
                    <span class="od-check__gray">Доставка </span>
                    <span class="od-check__long">Почта России</span>
                </div>
                <div class="od-check__row">
                    <span class="od-check__gray"> Состав заказа</span>
                    <span class="od-check__long"> Самовывоз
Шерл (турмалин), кристалл двухголовик, 6х5 см <b>1 шт.</b>, Данбурит, кристалл 3-4 см  <b>1 шт.</b></span>
                </div>
                <div class="od-check__row">
                    <span class="od-check__gray"> Сумма заказа</span>
                    <span class="od-check__long">  <b>2 790 ₽</b></span>
                </div>
            </div>
            <div class="od-check__buttons">
                <a href="#" class="button button__yellow"><span>Оплатить</span></a>
                <a href="#" class="button"><span>Распечатать квитанцию</span></a>
                <a href="#" class="button button__red"><span>Отменить заказ</span></a>
            </div>
        </div>

    </div>
    <div class="od-check lk-orderlist__check">
        <div class="od-check__row">
            <h4>№ 12-34-123-4 <span class="gray">от 25 мая 2017</span></h4>
            <p>Ожидает оплаты</p>
        </div>
        <div class="od-check__row">
            <div class="od-check__tab">
                <div class="od-check__row">
                    <span class="od-check__gray">Доставка </span>
                    <span class="od-check__long">Почта России</span>
                </div>
                <div class="od-check__row">
                    <span class="od-check__gray"> Состав заказа</span>
                    <span class="od-check__long"> Самовывоз
Шерл (турмалин), кристалл двухголовик, 6х5 см <b>1 шт.</b>, Данбурит, кристалл 3-4 см  <b>1 шт.</b></span>
                </div>
                <div class="od-check__row">
                    <span class="od-check__gray"> Сумма заказа</span>
                    <span class="od-check__long">  <b>2 790 ₽</b></span>
                </div>
            </div>
            <div class="od-check__buttons">
                <a href="#" class="button button__yellow"><span>Оплатить</span></a>
                <a href="#" class="button"><span>Распечатать квитанцию</span></a>
                <a href="#" class="button button__red"><span>Отменить заказ</span></a>
            </div>
        </div>

    </div>
    <div class="od-check lk-orderlist__check">
        <div class="od-check__row">
            <h4>№ 12-34-123-4 <span class="gray">от 25 мая 2017</span></h4>
            <p>Ожидает оплаты</p>
        </div>
        <div class="od-check__row">
            <div class="od-check__tab">
                <div class="od-check__row">
                    <span class="od-check__gray">Доставка </span>
                    <span class="od-check__long">Почта России</span>
                </div>
                <div class="od-check__row">
                    <span class="od-check__gray"> Состав заказа</span>
                    <span class="od-check__long"> Самовывоз
Шерл (турмалин), кристалл двухголовик, 6х5 см <b>1 шт.</b>, Данбурит, кристалл 3-4 см  <b>1 шт.</b></span>
                </div>
                <div class="od-check__row">
                    <span class="od-check__gray"> Сумма заказа</span>
                    <span class="od-check__long">  <b>2 790 ₽</b></span>
                </div>
            </div>
            <div class="od-check__buttons">
                <a href="#" class="button button__yellow"><span>Оплатить</span></a>
                <a href="#" class="button"><span>Распечатать квитанцию</span></a>
                <a href="#" class="button button__red"><span>Отменить заказ</span></a>
            </div>
        </div>

    </div>
    <div class="lk-orderlist__total">
        <p>Общая сумма всех заказов: <b>18 560 ₽ <i>+5 090 ₽</i> за текущие заказы</b></p>
    </div>
    <div class="invalid-name">
        <div class="invalid-name__img">
            <img src="images/invalid-name.svg" alt="">
        </div>
        <div class="invalid-name__txt">
            <p>Ваша текущая скидка — 6%</p>
            <p><a href="#"> Узнать о скидках</a></p>
        </div>
    </div>
    <div class="lk-orderlist__filter">
        <h3>Завершенные заказы</h3>
        <div class="lk-orderlist__tab">За все время </div>
        <div class="lk-orderlist__tab active">За период</div>
    </div>
    <p>Завершенных заказов: <b>3</b> на сумму <b>5 090 ₽</b> </p>

    <div class="od-check lk-orderlist__check ">
        <div class="od-check__row">
            <h4>№ 12-34-123-4 <span class="gray">от 1 мая 2017</span></h4>
            <p>Ожидает оплаты</p>
        </div>
        <div class="od-check__row">
            <div class="od-check__tab">
                <div class="od-check__row">
                    <span class="od-check__gray">Доставка </span>
                    <span class="od-check__long">Почта России</span>
                </div>
                <div class="od-check__row">
                    <span class="od-check__gray"> Состав заказа</span>
                    <span class="od-check__long"> Самовывоз
Шерл (турмалин), кристалл двухголовик, 6х5 см <b>1 шт.</b>, Данбурит, кристалл 3-4 см  <b>1 шт.</b></span>
                </div>
                <div class="od-check__row">
                    <span class="od-check__gray"> Сумма заказа</span>
                    <span class="od-check__long">  <b>2 790 ₽</b></span>
                </div>
            </div>
            <div class="od-check__buttons">
                <a href="#" class="button js-lk-add"><span>Оставить отзыв</span></a>
            </div>
        </div>
    </div>
    <div class="od-check lk-orderlist__check ">
        <div class="od-check__row">
            <h4>№ 12-34-123-4 <span class="gray">от 2 мая 2017</span></h4>
            <p>Ожидает оплаты</p>
        </div>
        <div class="od-check__row">
            <div class="od-check__tab">
                <div class="od-check__row">
                    <span class="od-check__gray">Доставка </span>
                    <span class="od-check__long">Почта России</span>
                </div>
                <div class="od-check__row">
                    <span class="od-check__gray"> Состав заказа</span>
                    <span class="od-check__long">
                        <a href="/category/businy-iz-kamney/internet-magazin-businy-ametista/" target="_blank" data-idproduct="245907">Аметист, нитка с бусинами для рукоделия 6-7</a> 
                            2 шт,
                        <a href="/category/kamen-zdorovya-litoterapiya/bilet_na_master_klass_1_2_po_sboru_brasletov_iz_naturalnykh_kamney_22_iyulya/" target="_blank" data-idproduct="245909">Билет на «Мастер-класс по сбору браслетов из натуральных камней по технике трос</a> 
                        2 шт,
                        <a href="/category/breloki/avantyurin-zeleny-kupit-brelok/" target="_blank" data-idproduct="245942">Брелок для ключей из авантюрина</a> 
                            1 шт,
                        <a href="/category/koltsa/koltso-agat-cherny-kupit/" target="_blank" data-idproduct="245972">Кольцо из агата черного,</a> 
                            1 шт,
                        <a href="/category/koltsa/koltso-iz-serdolika-kupit/" target="_blank" data-idproduct="245914">Кольцо из</a> 
                            3 шт,
                        <a href="/category/mineraly/flogopit_6_5_9_sm/" target="_blank" data-idproduct="245901">Флогопит, 6,5-9</a> 
                            2 шт,
                    </span>
                </div>
                <div class="od-check__row">
                    <span class="od-check__gray"> Сумма заказа</span>
                    <span class="od-check__long">  <b>2 790 ₽</b></span>
                </div>
            </div>
            <div class="od-check__buttons">
                <a href="#" class="button js-lk-add"><span>Оставить отзыв</span></a>
            </div>
        </div>
    </div>
    <div class="button button__green"><span>Показать еще</span></div>
</section>