<section class="lk-orderlist">
    <h2>Мои заказы</h2>
    <h4><a href="#">Назад к заказам</a></h4>
    <p>Текущих заказов: <b>3</b> на сумму <b>5 090 ₽</b> </p>
    <div class="od-check lk-orderlist__check">
        <div class="od-check__row">
            <h4>№ 12-34-123-4 <span class="gray">от 25 мая 2017</span></h4>
            <p>Ожидает оплаты</p>
        </div>
        <div class="od-check__row">
            <div class="od-check__tab">
                <div class="od-check__row">
                    <span class="od-check__gray">Доставка </span>
                    <span class="od-check__long">Почта России</span>
                </div>
                <div class="od-check__row">
                    <span class="od-check__gray"> Состав заказа</span>
                    <span class="od-check__long"> Самовывоз
Шерл (турмалин), кристалл двухголовик, 6х5 см <b>1 шт.</b>, Данбурит, кристалл 3-4 см  <b>1 шт.</b></span>
                </div>
                <div class="od-check__row">
                    <span class="od-check__gray"> Сумма заказа</span>
                    <span class="od-check__long">  <b>2 790 ₽</b></span>
                </div>
            </div>
            <div class="od-check__buttons">
                <a href="#" class="button button__yellow"><span>Оплатить</span></a>
                <a href="#" class="button"><span>Распечатать квитанцию</span></a>
                <a href="#" class="button button__red"><span>Отменить заказ</span></a>
            </div>
        </div>

    </div>
    <div class="od-table">
        <div class="od-table__head">
            <div class="od-table__cell">Наименование</div>
            <div class="od-table__cell">Цена без скидки</div>
            <div class="od-table__cell">Цена со скидкой</div>
            <div class="od-table__cell">Количество</div>
        </div>
        <div class="od-table__row">
            <div class="od-table__cell">
                <div class="order-done__name">
                    <div class="order-done__img-wrap">
                        <img src="images/kamen.jpeg" alt="" data-object-fit>
                    </div>
                    <div class="order-done__text">
                        <p>Шерл (турмалин), кристалл двухголовик, 6х5 см</p>
                        <span>Артикул: 135-34</span>
                    </div>
                </div>
            </div>
            <div class="od-table__cell">
                <strike>1 971 ₽</strike>
            </div>
            <div class="od-table__cell">
                <p>1 860 ₽</p>
            </div>
            <div class="od-table__cell">
                <p> 1 шт.</p>
            </div>
        </div>
        <div class="od-table__row">
            <div class="od-table__cell">
                <div class="order-done__name">
                    <div class="order-done__img-wrap">
                        <img src="images/kamen.jpeg" alt="" data-object-fit>
                    </div>
                    <div class="order-done__text">
                        <p>Шерл (турмалин),</p>
                        <span>Артикул: 135-34</span>
                    </div>
                </div>
            </div>
            <div class="od-table__cell">
                <strike>1 971 ₽</strike>
            </div>
            <div class="od-table__cell">
                <p>1 860 ₽</p>
            </div>
            <div class="od-table__cell">
                <p> 1 шт.</p>
            </div>
        </div>
        <div class="od-table__row">
            <div class="od-table__cell">
                <div class="order-done__name">
                    <div class="order-done__img-wrap">
                        <img src="images/kamen.jpeg" alt="" data-object-fit>
                    </div>
                    <div class="order-done__text">
                        <p>Шерл (турмалин), кристалл двухголовик, 6х5 см Шерл (турмалин), кристалл двухголовик, 6х5 см</p>
                        <span>Артикул: 135-34</span>
                    </div>
                </div>
            </div>
            <div class="od-table__cell">
                <strike>1 971 ₽</strike>
            </div>
            <div class="od-table__cell">
                <p>1 860 ₽</p>
            </div>
            <div class="od-table__cell">
                <p> 1 шт.</p>
            </div>
        </div>
    </div>
    <div class="od-add">
        <div class="od-add__content">
            <div class="od-add__row">
                <span>Без скидки</span>
                <p>2 700 ₽</p>
            </div>
            <div class="od-add__row">
                <span> Скидки</span>
                <p>-200 ₽</p>
            </div>
            <div class="od-add__row">
                <span> Доставка</span>
                <p>+290 ₽</p>
            </div>
            <div class="od-add__row">
                <br>
            </div>
            <div class="od-add__row">
                <span> Итого</span>
                <p>2 750 ₽</p>
            </div>
        </div>
    </div>
    <h4><a href="#">Назад к заказам</a></h4>

</section>


