<div class="profile">
    <h2>Платежная информация</h2>
    <h3>Привязанные карты</h3>
    <div class="profile__content">
        <div class="profile__row">
            <div class="profile__main">
                <p><img src="images/mastercard.svg" alt="">•••• •••• •••• 6417</p>
                <div class="profile__show">Изменить</div>
            </div>
            <form action="" class="profile__form">
                <div class="profile__form-wrap">
                    <div class="profile__form-row">
                        <span>Имя</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Фамилия</span>
                        <input type="text">
                    </div>

                    <div class="profile__form-row">
                        <span>Номер карты</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <div class="profile__card-type">
                            <label><input type="radio" name="rrr"><img src="images/mastercard.svg" alt=""></label>
                            <label><input type="radio" name="rrr"><img src="images/visa-c.svg" alt=""></label>
                        </div>
                    </div>
                    <div class="profile__form-row">
                        <div class="profile__card profile__card--small">
                            <span>Срок действия</span>
                            <p>
                                <input type="text" placeholder="MM"><i> / </i><input type="text" placeholder="ГГ">
                            </p>
                        </div>
                        <div class="profile__card">
                            <span>Код безопасность <b>?</b></span>
                            <p>
                                <input type="text" placeholder="CVC">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="profile__buttons">
                    <button class="button button__yellow"><span>Сохранить</span></button>
                    <button class="button button__red"><span>Удалить карту</span></button>
                    <div class="profile__close">Закрыть</div>
                </div>
            </form>
        </div>
        <div class="profile__row">
            <div class="profile__main">
                <p><img src="images/visa-c.svg" alt="">•••• •••• •••• 6417</p>
                <div class="profile__show">Изменить</div>
            </div>
            <form action="" class="profile__form">
                <div class="profile__form-wrap">
                    <div class="profile__form-row">
                        <span>Имя</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Фамилия</span>
                        <input type="text">
                    </div>

                    <div class="profile__form-row">
                        <span>Номер карты</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <div class="profile__card-type">
                            <label><input type="radio" name="rrr"><img src="images/mastercard.svg" alt=""></label>
                            <label><input type="radio" name="rrr"><img src="images/visa-c.svg" alt=""></label>
                        </div>
                    </div>
                    <div class="profile__form-row">
                        <div class="profile__card profile__card--small">
                            <span>Срок действия</span>
                            <p>
                                <input type="text" placeholder="MM"><i> / </i><input type="text" placeholder="ГГ">
                            </p>
                        </div>
                        <div class="profile__card">
                            <span>Код безопасность <b>?</b></span>
                            <p>
                                <input type="text" placeholder="CVC">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="profile__buttons">
                    <button class="button button__yellow"><span>Сохранить</span></button>
                    <button class="button button__red"><span>Удалить карту</span></button>
                    <div class="profile__close">Закрыть</div>
                </div>
            </form>
        </div>
        <div class="profile__row profile__row--hidden">

            <div class="profile__payment">
                <div  class="button button__green profile__show"><span>Добавить карту</span></div>
            </div>

            <form action="" class="profile__form">
                <div class="profile__form-wrap">
                    <div class="profile__form-row">
                        <span>Имя</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Фамилия</span>
                        <input type="text">
                    </div>

                    <div class="profile__form-row">
                        <span>Номер карты</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <div class="profile__card-type">
                            <label><input type="radio" name="rrr"><img src="images/mastercard.svg" alt=""></label>
                            <label><input type="radio" name="rrr"><img src="images/visa-c.svg" alt=""></label>
                        </div>
                    </div>
                    <div class="profile__form-row">
                        <div class="profile__card profile__card--small">
                            <span>Срок действия</span>
                            <p>
                                <input type="text" placeholder="MM"><i> / </i><input type="text" placeholder="ГГ">
                            </p>
                        </div>
                        <div class="profile__card">
                            <span>Код безопасность <b>?</b></span>
                            <p>
                                <input type="text" placeholder="CVC">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="profile__buttons">
                    <button class="button button__yellow"><span>Добавить карту</span></button>
                    <div class="profile__close">Закрыть</div>
                </div>
            </form>
        </div>

    </div>



</div>
