<div class="profile">
    <h2>Профиль</h2>
    <h3>Основная информация</h3>
    <div class="profile__content">
        <div class="profile__row">
            <div class="profile__main">
                <p><span>Ф.И.О.</span>Константинов Константин Константинопольский</p>
                <div class="profile__show">Изменить</div>
            </div>
            <form action="" class="profile__form">
                <div class="profile__form-wrap">
                        <div class="profile__form-row">
                            <span>Фамилия</span>
                            <input type="text">
                        </div>
                        <div class="profile__form-row">
                            <span>Имя</span>
                            <input type="text">
                        </div>
                        <div class="profile__form-row">
                            <span>Отчество</span>
                            <input type="text">
                        </div>
                </div>
                <div class="profile__buttons">
                    <button class="button button__yellow"><span>Сохранить</span></button>
                    <div class="profile__close">Закрыть</div>
                </div>
            </form>
        </div>
        <div class="profile__row">
            <div class="profile__main">
                <p><span>Дата рождения</span> </p>
                <div class="profile__show">Добавить</div>
            </div>
            <form action="" class="profile__form">
                <div class="profile__form-wrap">
                    <div class="profile__form-row">
                        <span>Дата</span>
                        <input type="text">
                    </div>

                </div>
                <div class="profile__buttons">
                    <button class="button button__yellow"><span>Сохранить</span></button>
                    <div class="profile__close">Закрыть</div>
                </div>
            </form>
        </div>
        <div class="profile__row">
            <div class="profile__main">
                <p><span>Мобильный телефон</span>+7 951 858-85-85</p>
                <div class="profile__show">Изменить</div>
            </div>
            <form action="" class="profile__form">
                <div class="profile__form-wrap">
                    <div class="profile__form-row">
                        <span>Телехвон</span>
                        <input type="text">
                    </div>

                </div>
                <div class="profile__buttons">
                    <button class="button button__yellow"><span>Сохранить</span></button>
                    <div class="profile__close">Закрыть</div>
                </div>
            </form>
        </div>
        <div class="profile__row">
            <div class="profile__main">
                <p><span>Электронная почта</span>konstantinopol@gmail.com</p>
                <div class="profile__show">Изменить</div>
            </div>
            <form action="" class="profile__form">
                <div class="profile__form-wrap">
                    <div class="profile__form-row">
                        <span>Мейл</span>
                        <input type="text">
                    </div>

                </div>
                <div class="profile__buttons">
                    <button class="button button__yellow"><span>Сохранить</span></button>
                    <div class="profile__close">Закрыть</div>
                </div>
            </form>
        </div>
    </div>
    <h3>Безопасность</h3>
    <div class="profile__content">

        <div class="profile__row">
            <div class="profile__main">
                <p><span>Пароль</span>•••••••••••</p>
                <div class="profile__show">Изменить</div>
            </div>
            <form action="" class="profile__form">
                <div class="profile__form-wrap">
                    <div class="profile__form-row">
                        <span>Мейл</span>
                        <input type="text">
                    </div>

                </div>
                <div class="profile__buttons">
                    <button class="button button__yellow"><span>Сохранить</span></button>
                    <div class="profile__close">Закрыть</div>
                </div>
            </form>
        </div>
    </div>
</div>
