<div class="profile">
    <h2>Профиль</h2>
    <h3>Основная информация</h3>
    <div class="profile__content">
        <div class="profile__row">
            <div class="profile__main">
                <p><span>Ф.И.О.</span>Константинов Константин Константинопольский</p>
                <div class="profile__show">Изменить</div>
            </div>
        </div>
        <div class="profile__row">
            <div class="profile__main">
                <p><span>Дата рождения</span> </p>
                <div class="profile__show">Добавить</div>
            </div>
        </div>
        <div class="profile__row">
            <div class="profile__main">
                <p><span>Мобильный телефон</span>+7 951 858-85-85</p>
                <div class="profile__show">Изменить</div>
            </div>
        </div>
        <div class="profile__row">
            <div class="profile__main">
                <p><span>Электронная почта</span>konstantinopol@gmail.com</p>
                <div class="profile__show">Изменить</div>
            </div>
        </div>
    </div>
    <h3>Безопасность</h3>
    <div class="profile__content">

        <div class="profile__row">
            <div class="profile__main">
                <p><span>Пароль</span>•••••••••••</p>
                <div class="profile__show">Изменить</div>
            </div>
        </div>
    </div>
</div>