<div class="profile">
    <h2>Внутренний счет</h2>
    <div class="profile__content">
        <div class="profile__row rising">
            <div class="rising__main">
                <div class="rising__txt">
                    <h2>28 900 ₽</h2>
                    <span>Этими деньгами вы можете оплатить любой товар на сайте, подписку StoneBox, а также оплатить членство в Клубе Камневедов </span>
                </div>
                <div class="rising__but">
                    <div  class="button button__green profile__show"><span>Пополнить</span></div>
                </div>
            </div>
            <form action="" class="profile__form">
                <h3>Пополнение</h3>
                <div class="profile__form-wrap">
                    <div class="order-payment">
                        <div class="order-payment__row">
                            <label class="radio__styled">
                                <input type="radio" name="222"><i></i>
                                <span>Оплатить картой</span>
                            </label>

                            <div class="order-payment__select">
                                <select name="" id="">
                                    <option value="" class="mc-pay" >•••• •••• •••• 1234</option>
                                    <option value="" class="mc-pay">•••• •••• •••• 7684</option>
                                </select>
                            </div>
                        </div>
                        <div class="order-payment__row">
                            <label class="radio__styled">
                                <input type="radio" name="222"><i></i>
                                <span>Использовать другую карту</span>
                            </label>

                        </div>
                        <div class="order-payment__row">
                            <label class="radio__styled">
                                <input type="radio" name="222"><i></i>
                                <span>Другие способы оплаты</span>
                            </label>

                        </div>
                        <p>Robokassa, Webmoney, Яндекс. Деньги, QIWI и др.</p>
                    </div>
                    <div class="profile__form-row">
                        <div class="profile__card">
                            <span>Сумма пополнения</span>
                            <p>
                                <span class="profile__valute">₽</span>
                                <input type="text" >
                            </p>
                        </div>
                    </div>
                </div>
                <div class="profile__buttons">
                    <button class="button button__yellow"><span>Пополнить</span></button>
                    <div class="profile__close">Закрыть</div>
                </div>
            </form>
        </div>
    </div>
    <h3>История транзакций</h3>
    <div class="transactions">
        <div class="transactions__hr transactions__row">
            <div class="transactions__cell"><a href="#">Дата ↓</a></div>
            <div class="transactions__cell">Номер транзакции</div>
            <div class="transactions__cell">Описание</div>
            <div class="transactions__cell"><a href="#">Сумма</a></div>
        </div>
        <div class="transactions__row">
            <div class="transactions__cell transactions__cell--data">17.03.2017 23:15</div>
            <div class="transactions__cell">84854</div>
            <div class="transactions__cell">Пополнение с привязанной карты</div>
            <div class="transactions__cell transactions__cell--green">+6 500 ₽</div>
        </div>
        <div class="transactions__row">
            <div class="transactions__cell transactions__cell--data">06.03.2017 19:50</div>
            <div class="transactions__cell">58965</div>
            <div class="transactions__cell">В счет оплаты заказа № 12-34-123-4</div>
            <div class="transactions__cell transactions__cell--red">-850 ₽</div>
        </div>
    </div>


</div>
