<div class="lk-stonebox">
	<h2>StoneBox</h2>
	<h5>Для оформления подписки выберите тип коробочки и цену</h5>
	<h3>Тип коробочки</h3>
	<div class="lk-stonebox__row">
		<div class="lk-radio">
			<div class="order-payment">
					<div class="order-payment__row">
							<label class="radio__styled">
									<input type="radio" name="222"><i></i>
							</label>
							<span>Метеориты</span>
					</div>
					<div class="order-payment__row">
							<label class="radio__styled">
									<input type="radio" name="222"><i></i>
							</label>
							<span>Кристаллы</span>
					</div>
					<div class="order-payment__row">
							<label class="radio__styled">
									<input type="radio" name="222"><i></i>
							</label>
							<span>Самоцветы</span>
					</div>
					<div class="order-payment__row">
							<label class="radio__styled">
									<input type="radio" name="222"><i></i>
							</label>
							<span>Полезные ископаемые</span>
					</div>
					<div class="order-payment__row">
							<label class="radio__styled">
									<input type="radio" name="222"><i></i>
							</label>
							<span>Горные породы</span>
					</div>
					<div class="order-payment__row">
							<label class="radio__styled">
									<input type="radio" name="222"><i></i>
							</label>
							<span>Выбор «Камневедов»</span>
					</div>
			</div>
		</div>
		<div class="lk-example">
			<h5>Пример того что входит в StoneBox</h5>
			<div class="lk-example__list">
				<div class="lk-example__item">
					<div class="lk-example__img">
						<img src="../images/stone-item1.png" alt="stone" data-object-fit>
					</div>
					<div class="lk-example__text">
						<p>Шерл (турмалин), кристалл двухголовик 9х8х6,5 см</p>
					</div>
				</div>
				<div class="lk-example__item">
					<div class="lk-example__img">
						<img src="../images/stone-item1.png" alt="stone" data-object-fit>
					</div>
					<div class="lk-example__text">
						<p>Дымчатый кварц (раухтопаз), кристалл 3-4,5 см</p>
					</div>
				</div>
				<div class="lk-example__item">
					<div class="lk-example__img">
						<img src="../images/stone-item1.png" alt="stone" data-object-fit>
					</div>
					<div class="lk-example__text">
						<p>Горный хрусталь, кристалл 3-4 см</p>
					</div>
				</div>
			</div>
			<blockquote>Состав всегда разный, это всего лишь пример того что может войти в коробочку</blockquote>
		</div>
	</div>
</div>