<div class="profile">
    <h2>StoneBox</h2>
    <h3>Активные подписки</h3>
    <div class="profile__content">
        <div class="profile__row">
            <div class="stonelist__main">
                <div class="stonelist__left">
                    <p>StoneBox «Выбор Камневедов» за 1 200 р. в месяц</p>
                    <p><span>Следующая отправка Stone Box: 25 июня 2017</span><span>Следующий платеж: 30 июня 2017 </span></p>
                </div>
                <div class="profile__show">Изменить подписку</div>
            </div>
            <div class="profile__form">
                <div class="profile__row">
                    <div class="profile__main">
                        <p><span>Тип коробочки</span>Выбор камневедов</p>
                        <div class="profile__show">Изменить</div>
                    </div>
                    <form action="" class="profile__form">
                        <div class="profile__form-wrap">
                            <div class="profile__form-row">
                                <span>Дата</span>
                                <input type="text">
                            </div>
                        </div>
                        <div class="profile__buttons">
                            <button class="button button__yellow"><span>Сохранить</span></button>
                            <div class="profile__close">Закрыть</div>
                        </div>
                    </form>
                </div>
                <div class="profile__row">
                    <div class="profile__main">
                        <p><span>Цена за подписку</span>1 200 ₽</p>
                        <div class="profile__show">Изменить</div>
                    </div>
                    <form action="" class="profile__form">
                        <div class="profile__form-wrap">
                            <div class="profile__form-row">
                                <span>Дата</span>
                                <input type="text">
                            </div>
                        </div>
                        <div class="profile__buttons">
                            <button class="button button__yellow"><span>Сохранить</span></button>
                            <div class="profile__close">Закрыть</div>
                        </div>
                    </form>
                </div>
                <div class="profile__row">
                    <div class="profile__main">
                        <p><span>Адрес доставки StoneBox</span>125009, г. Москва,  Малый Гнездниковский пер., 9с6А</p>
                        <div class="profile__show">Изменить</div>
                    </div>
                    <form action="" class="profile__form">
                        <div class="profile__form-wrap">
                            <div class="profile__form-row">
                                <span>Дата</span>
                                <input type="text">
                            </div>
                        </div>
                        <div class="profile__buttons">
                            <button class="button button__yellow"><span>Сохранить</span></button>
                            <div class="profile__close">Закрыть</div>
                        </div>
                    </form>
                </div>
                <div class="profile__row">
                    <div class="profile__main">
                        <p><span>Способ оплаты</span><img src="images/visa-c.svg" alt="">•••• •••• •••• 6417</p>
                        <div class="profile__show">Изменить</div>
                    </div>
                    <form action="" class="profile__form">
                        <div class="profile__form-wrap">
                            <div class="profile__form-row">
                                <span>Имя</span>
                                <input type="text">
                            </div>
                            <div class="profile__form-row">
                                <span>Фамилия</span>
                                <input type="text">
                            </div>

                            <div class="profile__form-row">
                                <span>Номер карты</span>
                                <input type="text">
                            </div>
                            <div class="profile__form-row">
                                <div class="profile__card-type">
                                    <label><input type="radio" name="rrr"><img src="images/mastercard.svg" alt=""></label>
                                    <label><input type="radio" name="rrr"><img src="images/visa-c.svg" alt=""></label>
                                </div>
                            </div>
                            <div class="profile__form-row">
                                <div class="profile__card profile__card--small">
                                    <span>Срок действия</span>
                                    <p>
                                        <input type="text" placeholder="MM"><i> / </i><input type="text" placeholder="ГГ">
                                    </p>
                                </div>
                                <div class="profile__card">
                                    <span>Код безопасность <b>?</b></span>
                                    <p>
                                        <input type="text" placeholder="CVC">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="profile__buttons">
                            <button class="button button__yellow"><span>Сохранить</span></button>
                            <div class="profile__close">Закрыть</div>
                        </div>
                    </form>
                </div>
                <div class="profile__buttons">
                    <a data-fancybox data-src="#stonebox" href="javascript:;" class="button button__red"><span>Отменить подписку</span></a>
                    <div class="profile__close">Закрыть</div>
                </div>
            </div>
        </div>
        <div class="profile__row">
            <div class="stonelist__main">
                <div class="stonelist__left">
                    <p>StoneBox «Кристаллы» за 800 р. в месяц</p>
                    <p><span>Следующая отправка Stone Box: 12 июня 2017</span><span>Следующий платеж: 18 июня 2017 </span></p>
                </div>
                <div class="profile__show">Изменить подписку</div>
            </div>
            <div class="profile__form">
                <div class="profile__row">
                    <div class="profile__main">
                        <p><span>Тип коробочки</span>Выбор камневедов</p>
                        <div class="profile__show">Изменить</div>
                    </div>
                    <form action="" class="profile__form">
                        <div class="profile__form-wrap">
                            <div class="profile__form-row">
                                <span>Дата</span>
                                <input type="text">
                            </div>
                        </div>
                        <div class="profile__buttons">
                            <button class="button button__yellow"><span>Сохранить</span></button>
                            <div class="profile__close">Закрыть</div>
                        </div>
                    </form>
                </div>
                <div class="profile__row">
                    <div class="profile__main">
                        <p><span>Цена за подписку</span>1 200 ₽</p>
                        <div class="profile__show">Изменить</div>
                    </div>
                    <form action="" class="profile__form">
                        <div class="profile__form-wrap">
                            <div class="profile__form-row">
                                <span>Дата</span>
                                <input type="text">
                            </div>
                        </div>
                        <div class="profile__buttons">
                            <button class="button button__yellow"><span>Сохранить</span></button>
                            <div class="profile__close">Закрыть</div>
                        </div>
                    </form>
                </div>
                <div class="profile__row">
                    <div class="profile__main">
                        <p><span>Адрес доставки StoneBox</span>125009, г. Москва,  Малый Гнездниковский пер., 9с6А</p>
                        <div class="profile__show">Изменить</div>
                    </div>
                    <form action="" class="profile__form">
                        <div class="profile__form-wrap">
                            <div class="profile__form-row">
                                <span>Дата</span>
                                <input type="text">
                            </div>
                        </div>
                        <div class="profile__buttons">
                            <button class="button button__yellow"><span>Сохранить</span></button>
                            <div class="profile__close">Закрыть</div>
                        </div>
                    </form>
                </div>
                <div class="profile__row">
                    <div class="profile__main">
                        <p><span>Способ оплаты</span><img src="images/visa-c.svg" alt="">•••• •••• •••• 6417</p>
                        <div class="profile__show">Изменить</div>
                    </div>
                    <form action="" class="profile__form">
                        <div class="profile__form-wrap">
                            <div class="profile__form-row">
                                <span>Имя</span>
                                <input type="text">
                            </div>
                            <div class="profile__form-row">
                                <span>Фамилия</span>
                                <input type="text">
                            </div>

                            <div class="profile__form-row">
                                <span>Номер карты</span>
                                <input type="text">
                            </div>
                            <div class="profile__form-row">
                                <div class="profile__card-type">
                                    <label><input type="radio" name="rrr"><img src="images/mastercard.svg" alt=""></label>
                                    <label><input type="radio" name="rrr"><img src="images/visa-c.svg" alt=""></label>
                                </div>
                            </div>
                            <div class="profile__form-row">
                                <div class="profile__card profile__card--small">
                                    <span>Срок действия</span>
                                    <p>
                                        <input type="text" placeholder="MM"><i> / </i><input type="text" placeholder="ГГ">
                                    </p>
                                </div>
                                <div class="profile__card">
                                    <span>Код безопасность <b>?</b></span>
                                    <p>
                                        <input type="text" placeholder="CVC">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="profile__buttons">
                            <button class="button button__yellow"><span>Сохранить</span></button>
                            <div class="profile__close">Закрыть</div>
                        </div>
                    </form>
                </div>
                <div class="profile__buttons">
                    <a data-fancybox data-src="#stonebox" href="javascript:;" class="button button__red"><span>Отменить подписку</span></a>
                    <div class="profile__close">Закрыть</div>
                </div>
            </div>
        </div>

        <div class="profile__row profile__row--hidden">
            <div class="profile__payment">
                <div  class="button button__green profile__show"><span>Подписатья на еще один StoneBox</span></div>
            </div>
            <form action="" class="profile__form">
                <div class="profile__form-wrap">
                    <div class="profile__form-row">
                        <span>Дата</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Дата</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Дата</span>
                        <input type="text">
                    </div>
                    <div class="profile__form-row">
                        <span>Дата</span>
                        <input type="text">
                    </div>
                </div>
                <div class="profile__buttons">
                    <button class="button button__yellow"><span>Сохранить</span></button>
                    <div class="profile__close">Закрыть</div>
                </div>
            </form>
        </div>
    </div>
</div>