<div class="lk-stonebox">
	<h1>StoneBox</h1>
	<h5>Для оформления подписки выберите тип коробочки и цену</h5>
	<h2>Тип коробочки</h2>
	<div class="lk-radio">
		<div class="order-payment">
				<div class="order-payment__row">
						<label class="radio__styled">
								<input type="radio" name="222"><i></i>
						</label>
						<span>Метеориты</span>
				</div>
				<div class="order-payment__row">
						<label class="radio__styled">
								<input type="radio" name="222"><i></i>
						</label>
						<span>Кристаллы</span>
				</div>
				<div class="order-payment__row">
						<label class="radio__styled">
								<input type="radio" name="222"><i></i>
						</label>
						<span>Самоцветы</span>
				</div>
				<div class="order-payment__row">
						<label class="radio__styled">
								<input type="radio" name="222"><i></i>
						</label>
						<span>Полезные ископаемые</span>
				</div>
				<div class="order-payment__row">
						<label class="radio__styled">
								<input type="radio" name="222"><i></i>
						</label>
						<span>Горные породы</span>
				</div>
				<div class="order-payment__row">
						<label class="radio__styled">
								<input type="radio" name="222"><i></i>
						</label>
						<span>Выбор «Камневедов»</span>
				</div>
		</div>
	</div>
</div>